<link rel="stylesheet" href="/static/stylesheets/edit-partner-service.css">
<div class="pum-service">
    <div class="pum-service-container">
        <div class="maincontent-service">
            <span class="exittable"><i class="fa fa-times" aria-hidden="true"></i></span>
            <p>서비스 관리</p>
            <div class="servicecontents">
                <button class="btn btn-info addmore" type="button" name="button">+추가</button>
                <div class="subservicecontents">
                    <p class="subdivision">서비스</p>


                    <div class="form-group col-md-4">
                      <select class="form-control choice1" id="choice1">
                          <option value="" selected disabled hidden>서비스 종류를 선택해주세요</option>
                          <% for (var i = 0; i < services.length; i++) { %>
                              <option value=<%= services[i].serviceCategory %>><%= services[i].serviceCategory %></option>
                          <% } %>
                      </select>
                    </div>

                    <% for (var i = 0; i < services.length; i++) { %>
                        <div class="form-group col-md-4" id="<%= services[i].serviceCategory %>" style="display:none !important;">
                            <select class="form-control choice2">
                                <option value="" selected disabled hidden>서비스를 선택해주세요</option>
                                <% for (var j = 0; j < services[i].serviceName.length; j++) { %>
                                    <option value=<%= services[i].serviceName[j] %>><%= services[i].serviceName[j] %></option>
                                <% } %>
                            </select>
                        </div>
                    <% } %>


                    <p class="subdivision">예상 금액</p>
                    <input type="text" class="form-control" name="">$
                     ~
                    <input type="text" class="form-control" name="">$
                    <p class="subdivision">커멘트</p>
                    <textarea class="form-control" name="name" rows="3"></textarea>
                    <button class="btn btn-info deletesection" type="button" name="button">지우기</button>
                </div>
            </div>
        </div>
    </div>
</div>
