<link rel="stylesheet" href="/static/stylesheets/edit-partner-service.css">
<div class="pum-service">
    <div class="pum-service-container">
        <div class="maincontent-service">
            <span class="exittable"><i class="fa fa-times" aria-hidden="true"></i></span>
            <p>서비스 관리</p>
            <div class="servicecontents">
                <button class="btn btn-info addmore" type="button" name="button">+추가</button>
                <div class="subservicecontents">
                    <p class="subdivision">서비스</p>
                    <!-- <select class="selectpicker" id="userservice" placeholder="서비스를 선택해주세요">
                        <option class="serv">통역</option>
                        <option class="serv">현지 차량</option>
                        <option class="serv">번역</option>
                        <option class="serv">기업/기관 섭외</option>
                        <option class="serv">투어 가이드</option>
                        <option class="serv">현지 시장 조사</option>
                        <option class="serv">통역</option>
                        <option class="serv">현지 차량</option>
                        <option class="serv">번역</option>
                        <option class="serv">기업/기관 섭외</option>
                        <option class="serv">투어 가이드</option>
                        <option class="serv">현지 시장 조사</option>
                        <option class="serv">통역</option>
                        <option class="serv">현지 차량</option>
                        <option class="serv">번역</option>
                        <option class="serv">기업/기관 섭외</option>
                        <option class="serv">투어 가이드</option>
                        <option class="serv">현지 시장 조사</option>
                    </select> -->
                    
                    
                    <select class="selectpicker choice1" id="choice1">
                        <option value="" selected disabled hidden>서비스를 선택해주세요</option>
                        <% for (var i = 0; i < services.length; i++) { %>
                            <option value=<%= services[i].serviceCategory %>><%= services[i].serviceCategory %></option>
                        <% } %>
                    </select>
                    
                    <% for (var i = 0; i < services.length; i++) { %>
                        <div id="<%= services[i].serviceCategory %>" style="display:none !important;">
                            <select class="selectpicker choice2">
                                <% for (var j = 0; j < services[i].serviceName.length; j++) { %>
                                    <option value=<%= services[i].serviceName[j] %>><%= services[i].serviceName[j] %></option>
                                <% } %>
                            </select>
                        </div>
                    <% } %>
                    
                    
                    <p class="subdivision">예상 금액</p>
                    <input type="text" class="form-control" name="">$
                     ~
                    <input type="text" class="form-control" name="">$
                    <p class="subdivision">커멘트</p>
                    <textarea class="form-control" name="name" rows="3"></textarea>
                    <button class="btn btn-info deletesection" type="button" name="button">지우기</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // Script for dynamically changing service name dropdown based on the selected service category value
    $(".choice1").change(function () {
        var id = $(this).val();
        
        <% for (var i = 0; i < services.length; i++) { %>
            document.getElementById("<%= services[i].serviceCategory %>").style.display = "none";
        <% } %>
        
        document.getElementById(id).style.display ="flex";
    });
</script>
