<html>
    <head>
        <meta charset="utf-8">
        <style>
            html.disabled {
                overflow-x: hidden;
            }

            .btn-primary {
                 background-color:#f58b44 !important;
                 border-color:#f58b44 !important;
            }
            .btn-primary:hover {
                cursor: pointer;
                opacity: 0.8;
            }
            #avatar{
                border-radius: 50%;
                width: 45px;
                height: 45px;
                background-size: cover;
                margin: 0;
                 position: absolute;
                 top: 50%;
                 -ms-transform: translateY(-50%);
                 transform: translate3d(-50%,-50%,0);
            }
            .leftside, .rightside{
                width: 100%;
                /* border: 1px solid rgba(0, 0, 0, 0.5); */
                margin-bottom: 10px;
                z-index: 2;
            }
            #left{
              max-width: 25%;
            }
            #left, #right{
              height: 80px;
              padding: 10px;
            }
            #sliders a{
                text-decoration: none;
                color:black;
            }
            #wrapper{
              width: 50%;
              height: 550px;
              overflow-y:scroll;
              overflow-x: hidden;
              float:left;
              position: relative;
              margin:0;
              padding-left: 2.5%;
              padding-right: 2.5%;
            }
            #wrapper .row{
              border: 1px solid rgba(0, 0, 0, 0.3);
              width: 500px;
            }
            #wrapper h4{
              font-size: 20px;
            }
            .dosi{
                margin-left:20px;
            }
            .dropdown-menu{
                height: 250px;
                overflow-y: auto;
                overflow-x: hidden;
            }
            .likethis{
                margin: 5% 10% 7%;
                display: flex;
                flex-wrap: wrap;
            }
            .fa-list {
                margin-right: 10px;
            }
            a.editservice {
                color: rgb( 245, 139, 68 );
            }
            a.editservice:hover {
                color: rgb(205, 99, 28);
                text-decoration: underline;
            }
            
        </style>
        <title>Member - 트렉스</title>

        <% include ./partials/header %>
          <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
          <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
          <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
          <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" /> -->




          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

          <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script> -->
          <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/i18n/defaults-*.min.js"></script>
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css">

          <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
          <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css" rel="stylesheet"/>
          <link rel="stylesheet" href="/static/stylesheets/profile.css">







    </head>
    <body>
        <% include ./partials/profileedit-image %>
        <% include ./partials/profileedit-background %>
        <% include ./partials/edit-partner-service %>

        <% include ./partials/navbar %>


        <div class="profile">
            <div class="tab">
                <div class="row top">
                    <div class="col-12">
                        <p class="setting">파트너 프로필 관리</p>
                        <div class="menu">
                            <a class="partnerprofileinfo profileactive" href="/user_profile/partnerProfile">프로필 관리</a>
                            <a class="taskreservationinfo" href="/user_profile/tasks">업무 예약 관리</a>
                            <a class="scheduleinfo" href="/user_profile/schedule">일정 관리</a>
                            <a class="messages" href="/user_profile/messages">메세지</a>
                            <a class="paymentinfo" href="/user_profile/payment_info">정산 계좌 등록</a>
                            <a class="accountinfo" href="/user_profile/account_info">계정관리</a>
                        </div>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col-md-4 col-12" style="padding:0% 0% 0% 5.2%;">
                        <div class="backgroundimg">
                            <% if (currentUser.coverPhoto) { %>
                                <img id="kokoman" src="/coverPhoto/<%= currentUser.coverPhoto %>">
                            <% } else { %>
                                <img id="kokoman" src="/static/images/slider/slider-4-montreal.jpg">
                            <% } %>
                            <div class="changefade">
                                배경 사진 바꾸기
                                <span class="camera"></span>
                            </div>
                        </div>

                        <div class="mainimg">
                        <% if (currentUser.profilePic) { %>
                            <img class="profileimg" src="/profilePic/<%= currentUser.profilePic %>">
                        <% } else { %>
                            <img class="profileimg" src="/static/images/noprofilepic.jpeg">
                        <% } %>
                            <div class="changeslider">
                                사진 바꾸기<br/>
                                <span class="camera"></span>
                            </div>
                        </div>

                        <p class="userName"><%= currentUser.name %></p>
                    </div>

                    <div class="col-md-8">
                        <div class="likethis">
                            <p class="basictitle">
                                <% if (profileInfo.type == "freelancer") { %>
                                    <strong><big>프리랜서 프로필</big></strong>
                                <% } else { %>
                                    <strong><big>에이전시 프로필</big></strong>
                                <% } %>
                            </p>
                            <div class="divider"></div>
                            <br><br>
                            <!-- <form id="convertProfile" action="/convert_partnerProfile_type" method="post"></form> -->
                            
                            

                            <form action="/user_profile/edit_partner_resume" method="post" id="profileForm" style="width: 100%;">
                                <div class="form-group row">
                                    <div class="col-sm-5">
                                        <label for="oneLineIntro">한줄 소개 *</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" id="oneLineIntro" name="oneLineIntro" placeholder="클라이언트에게 본인 한줄 소개를 해주세요." value="<%= profileInfo.oneLineIntro %>">
                                    </div>
                                </div>


                            <div class="form group row">
                                <div class="col-sm-5">
                                    <label for="service" style="margin-right: 70px;">가능한 서비스 *</label>
                                </div>
                                <div class="col-sm-7">
                                    <a href="javascript: void(0);" class="editservice"><i class="fa fa-list" aria-hidden="true"></i>편집하기</a>
                                </div>
                            </div>

                                <div class="form-group row">
                                    <div class="col-sm-5">
                                        <label for="region" style="margin-right:70px;">지역 *</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <select class="selectpicker" name="region" id="region" data-live-search="false">
                                            <option value="" selected disabled hidden>지역을 선택해주세요</option>
                                            <option class="nara">과테말라</option>
                                            <option class="dosi">과테말라시티</option>
                                            <option class="nara">네덜란드</option>
                                            <option class="dosi">암스테르담</option>
                                            <option>노르웨이</option>
                                            <option class="dosi">오슬로</option>
                                            <option>뉴질랜드</option>
                                            <option class="dosi">오클랜드</option>
                                            <option>대만</option>
                                            <option class="dosi">타이페이</option>
                                            <option>대한민국</option>
                                            <option class="dosi">대구</option>
                                            <option class="dosi">대전</option>
                                            <option class="dosi">부산</option>
                                            <option class="dosi">서울</option>
                                            <option class="dosi">울산</option>
                                            <option class="dosi">인천</option>
                                            <option class="dosi">제주</option>
                                            <option>덴마크</option>
                                            <option class="dosi">코펜하겐</option>
                                            <option>도미니카공화국</option>
                                            <option class="dosi">산토도밍고</option>
                                            <option>독일</option>
                                            <option class="dosi">뮌헨</option>
                                            <option class="dosi">베를린</option>
                                            <option class="dosi">슈투트가르트</option>
                                            <option class="dosi">프랑크푸르트</option>
                                            <option class="dosi">함부르크</option>
                                            <option>라오스</option>
                                            <option class="dosi">비엔티안</option>
                                            <option>러시아</option>
                                            <option class="dosi">모스크바</option>
                                            <option class="dosi">상트페테르부르크</option>
                                            <option>캐나다</option>
                                            <option class="dosi">밴쿠버</option>
                                            <option class="dosi">토론토</option>
                                            <option class="dosi">몬트리올</option>
                                            <option class="dosi">퀘벡</option>
                                            <option class="dosi">위니펙</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-5">
                                        <label>타 지역 업무 가능 여부 *</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <% if (profileInfo.otherRegion.length > 0) { %>
                                            <div class="form-check form-check-inline">
                                                <input onclick="checkFunction()" class="form-check-input availability" type="radio" name="avail" id="able" value="able" checked>
                                                <label class="form-check-label" for="able">가능</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input onclick="checkFunction()" class="form-check-input" type="radio" name="avail" id="unable" value="unable">
                                                <label class="form-check-label" for="unable">불가능</label>
                                            </div>
                                        <% } else { %>
                                            <div class="form-check form-check-inline">
                                                <input onclick="checkFunction()" class="form-check-input availability" type="radio" name="avail" id="able" value="able">
                                                <label class="form-check-label" for="able">가능</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input onclick="checkFunction()" class="form-check-input" type="radio" name="avail" id="unable" value="unable" checked>
                                                <label class="form-check-label" for="unable">불가능</label>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>



                            <% if (profileInfo.otherRegion.length > 0) { %>
                                <div class="form-group row" id="har" style="display:flex;">
                            <% } else { %>
                                <div class="form-group row" id="har" style="display:none;">
                            <% } %>
                                    <div class="col-sm-5">
                                        <label for="otherRegion" style="margin-right:70px;">타지역 (하나 이상 선택 가능)</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <select class="selectpicker" name="otherRegion" id="otherRegion" multiple  data-live-search="false" placeholder="지역을 선택 해주세요">
                                            <option class="nara">과테말라</option>
                                            <option class="dosi">과테말라시티</option>
                                            <option class="nara">네덜란드</option>
                                            <option class="dosi">암스테르담</option>
                                            <option>노르웨이</option>
                                            <option class="dosi">오슬로</option>
                                            <option>뉴질랜드</option>
                                            <option class="dosi">오클랜드</option>
                                            <option>대만</option>
                                            <option class="dosi">타이페이</option>
                                            <option>대한민국</option>
                                            <option class="dosi">대구</option>
                                            <option class="dosi">대전</option>
                                            <option class="dosi">부산</option>
                                            <option class="dosi">서울</option>
                                            <option class="dosi">울산</option>
                                            <option class="dosi">인천</option>
                                            <option class="dosi">제주</option>
                                            <option>덴마크</option>
                                            <option class="dosi">코펜하겐</option>
                                            <option>도미니카공화국</option>
                                            <option class="dosi">산토도밍고</option>
                                            <option>독일</option>
                                            <option class="dosi">뮌헨</option>
                                            <option class="dosi">베를린</option>
                                            <option class="dosi">슈투트가르트</option>
                                            <option class="dosi">프랑크푸르트</option>
                                            <option class="dosi">함부르크</option>
                                            <option>라오스</option>
                                            <option class="dosi">비엔티안</option>
                                            <option>러시아</option>
                                            <option class="dosi">모스크바</option>
                                            <option class="dosi">상트페테르부르크</option>
                                            <option>캐나다</option>
                                            <option class="dosi">밴쿠버</option>
                                            <option class="dosi">토론토</option>
                                            <option class="dosi">몬트리올</option>
                                            <option class="dosi">퀘벡</option>
                                            <option class="dosi">위니펙</option>
                                        </select>
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <div class="col-sm-5">
                                        <label for="aboutMe">경력 소개 (필수 사항)</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <textarea class="form-control" name="aboutMe" id="aboutMe" rows="12"><%= profileInfo.aboutMe %></textarea>
                                    </div>
                                </div>



                                <!-- <div class="form-group row">
                                    <div class="col-sm-5">
                                        <label for="aboutMe">업무 스케줄</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" name="unavailableDates" class="form-control date" placeholder="업무가 불가능한 날을 선택해주세요."/>
                                    </div>
                                </div> -->



                                <!-- <div class="form-group">
                                    <label for="exampleFormControlSelect1">Example select</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect2">Example multiple select</label>
                                    <select multiple class="form-control" id="exampleFormControlSelect2">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Example textarea</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div> -->

                                <div style="float:right;">
                                    <input type="submit" class="btn btn-primary" style="margin-right:15px;" value="저장">
                                    <!-- <input type="submit" form="profileForm" class="btn btn-primary" value="저장" style="float:right;"> -->
                                    <!-- Cancel Button trigger modal -->
                                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#cancelModal">
                                        취소
                                    </button>
                                </div>

                            </form>



                            <!-- Cancel Confirm Modal -->
                            <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="cancelModalLongTitle">취소 확인</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            정말로 취소 하시겠습니까? 지금까지 수정하신 프로필이 저장되지 않습니다.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">아니요</button>
                                            <a href="/user_profile"><button type="button" class="btn btn-primary">네</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/scripts/profileedit.js"></script>

        <script type="text/javascript">
            var addmore = () => {
                $(".addmore").on("click", function() {
                    $(".servicecontents").append(manipulateAdd());
                });
            }
            addmore();


            var deletelist = () => {
                $(".servicecontents").on("click", ".deletesection", function(e) {
                    console.log(e);
                    $(this).parent().remove();
                });
            }
            deletelist();

            var servicepage = () => {
                $(".editservice").on("click", function(e) {
                    $(".pum-service").fadeIn(400, () => {
                        $(".pum-service").toggleClass("pumactive");
                        $("html").toggleClass("disabled");
                    });
                });
            }
            servicepage();

            var clickoutsideservice = () => {
                $(".pum-service").on("click", (e) => {
                    if(e.target.className === "pum-service pumactive") {
                        $(".pum-service").fadeOut(400, () => {
                            $(".pum-service").toggleClass("pumactive");
                            $("html").toggleClass("disabled");
                        });
                    }
                });
            }
            clickoutsideservice();

            var clickexservice = () => {
                $(".maincontent-service .exittable").click((e) => {
                    $(".pum-service").fadeOut(400, () => {
                        $(".pum-service").toggleClass("pumactive");
                        $("html").toggleClass("disabled");
                    });
                });
            }
            clickexservice();
        </script>

    <script>
        $('select').selectpicker();

    </script>


    <script src="/static/scripts/changeimg.js"></script>
    <script src="/static/scripts/profileedit.js"></script>


    <script>
        function checkFunction(){
            if(document.querySelector(".availability").checked){
                document.getElementById("har").style.display ="flex";
            } else {
                document.getElementById("har").style.display = "none";
            }
        };
    </script>

    <script>
        // Scripts for setting default selected city/country to the user's data
        $('#region').selectpicker('val', "<%= profileInfo.region %>");

        var otherRegions = [];
        <% for (var i = 0; i < profileInfo.otherRegion.length; i++) { %>
            var one = "<%= profileInfo.otherRegion[i]%>";
            otherRegions.push(one);
        <% } %>
        $('#otherRegion').selectpicker('val', otherRegions);
    </script>
    


    <% include ./partials/footer %>

    </body>
</html>
