<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>파트너 찾기</title>


    <!-- dropdown 스타일링   -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="tail.select-bootstrap4.css" rel="stylesheet"/> -->





    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->


    <!-- jquery slide selector -->

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  <!-- glyphicon -->
  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="../static/stylesheets/findpartner.css">





    <!-- <script>
    $(function(){
      $('.dates #user1').datepicker({
        'format' : 'yyyy-mm-dd',
        'autoclose': true
      });
    });
    </script> -->
    <% include ./partials/navbar %>

  <style>
  #kokoman {
  width: 100%;
  height: 55%;
  background-image: url("../static/images/slider/slider-2-london.jpg");
  background-size: cover;
  }

  #avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-image: url("static/images/nibbler.jpeg");
  background-size: cover;

  margin-bottom: 15px;
  transform: translate3d(0, -50%, 0);

  }
  #slider-range .ui-slider-handle { border-color: rgb(0, 132, 137); }
  #slider-range .ui-slider-range { background: rgb(0, 132, 137); }
  </style>

  </head>
  <body onload="dontdoit()">

  <div id="momtong" style="margin: 0 5%">
    <div style="display:block; border-bottom: 1px solid black; padding-bottom: 10px;
    padding-top: 20px" id="bbak">



    <span>
    <button aria-haspopup="true" aria-expanded=
    "false" aria-controls="menuItemComponent-guest_picker" class="_1i67wnzj dropbtn"
    style="margin: 5px;" id="login">
      <div>
        인원<span id="inwon"></span>
      </div>
    </button>

        <div id="registerModal" role="dialog" aria-hidden="true"
          class="modal in modal_site_login ui-draggable" data-backdrop="true"
          data-keyboard="true">
          <div class="modal-dialog">
            <div class="modal-content" id="registercontent">
              <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" disabled="disabled"
                      data-type="minus" data-field="quant[1]">
                      <i class="fa fa-minus"></i>
                    </button>
                </span>
                <input type="text" id="memi" name="quant[1]" class="form-control input-number" value="0" min="0" max="100">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                        <i class="fa fa-plus"></i>
                    </button>
                </span>
            </div>
          </div>
        </div>
      </div>
    </span>


    <input type="button" name="daterange" value="날짜" id="nal"
    placeholder="날짜" class="dropbtn datepicker" style="margin: 5px;">






<!--
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6 text-right">
            <select id="select1">
              <option selected="selected">업종/전공</option>
              <option>ㅏㅎ미나히</option>
              <option>ㅣ해많냄ㅎ</option>
              <option>업종/전공</option>
              <option>업종/전공</option>
              <option>업종/전공</option>
              <option>업종/전공</option>

            </select>

          </div>
          <div class="col-md-6">
            <select multiple id="select2">
              <option selected="selected">업종/전공</option>
              <option>ㅏㅎ미나히</option>
              <option>ㅣ해많냄ㅎ</option>
              <option>업종/전공</option>
              <option>업종/전공</option>
              <option>업종/전공</option>
              <option>업종/전공</option>
            </select>
          </div>
        </div>
      </div> -->




  <div class="dropdown" style="margin: 5px;">
    <button onclick="myFunction()" class="dropbtn" id="monsta">업종/전공</button>
    <div id="myDropdown" class="dropdown-content checkbox">
      <input type="checkbox" id="checkbox_1"><label for="checkbox_1">과학</label><br>
      <input type="checkbox" id="checkbox_2"><label for="checkbox_2">IT/기술</label><br>
      <input type="checkbox" id="checkbox_3"><label for="checkbox_3">교육</label><br>
      <input type="checkbox" id="checkbox_4"><label for="checkbox_4">금융/회계</label><br>
    </div>
  </div>

  <div class="dropdown" style="margin: 5px;">
    <button onclick="myFunction2()" class="dropbtn" style="margin-right: 5px;"
    id="monsta">서비스</button>
    <div id="myDropdown2" class="dropdown-content checkbox">
      <input id="checkbox_5" type="checkbox"><label for="checkbox_5">통역</label>
      <input id="cha" type="checkbox"><label for="cha">차량</label>
      <input type="checkbox" id="elsee"><label for="elsee">등등</label>
    </div>
  </div>


    <div class="dropdown" style="margin: 5px;z-index: 6; position: absolute">
      <button class="dropbtn moneybar">
      시급
      <span id="paymentis" class="money">
      </span>
    </button>

      <div id="money" class="money w3-display-left" style="padding: 20px; background-color: #fff;
      border: 0.5px solid rgba(0, 0, 0, 0.4);display: none; margin-top: 7px;">
      <div class="header money">
        평균 시급은 23,400원 입니다.
      </div>
      <br>
      <div style="margin-bottom: 30px;"><span class="money" style="float: left;">0원</span>
        <span class="money" style="float: right;">50000원</span></div>
      <!-- <input type="text" id="amount" class="money"readonly style="border:0; color:#f6931f; font-weight:bold;"> -->
      <div id="slider-range" class="money"></div>

      <!-- <input type="range" onclick=""
      min="1" max="100" value="50" class="dropbtn money range"
      style="margin: 5px;"> -->
      <br><br>
      <input class="money js-input" type="text" id="leasts" placeholder="최소"> -
      <input class="money js-input" type="text" id="maxs"
      placeholder="최대"></div></div>



  <label class="switch" style="float: right;" id="switch">
    <input type="checkbox" id="roundswitch" onclick="myFunction5()"
    style="margin-left: 5px;" checked>
    <span class="slider round"></span>
  </label>
  <span id="gdo" style="float: right; transform: translate3d(-15%, 15%, 0)">지도보기   </span>
</div>

  <br>

<!-- price range selector -->
<script>
$( function() {
  $( "#slider-range" ).slider({
    range: true,
    min: 0,
    max: 500,
    values: [ 0, 500 ],
    slide: function( event, ui ) {
      $( "#least" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ));
      $( "#max" ).val( "$" + $( "#slider-range" ).slider( "values", 1 ));
    }
  });
  // $( "#least" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ));
  // $( "#max" ).val( "$" + $( "#slider-range" ).slider( "values", 1 ));

} );
</script>

<div class="wrapper" id="wrapper" style="width: 60%; height: 550px; overflow-y:scroll;
  overflow-x: hidden; float:left; position: relative; margin:0;
  padding-left: 2.5%; padding-right: 2.5%;">

    <div id="sliders">
      <% var i; %>
      <% for (i = 0; i < allPartners.length; i++) { %>
          <!-- If i is even put the card on the leftside-->
          <% if (i%2 == 0) { %>
            <div class="row">
              <div class="col">
                <div class="leftside">
                  <a href="/partner_profile/<%= allPartners[i]._id %>" class="slide-img">
                    <div id="kokoman"></div>
                    <center>
                      <% if (allPartners[i].pic) { %>
                        <img id="avatar" src="image/<%= allPartners[i].pic %>">
                      <% } else { %>
                        <img id="avatar" src="/static/images/noprofilepic.jpeg">
                      <% } %>
                    </center>
                    <h5><%= allPartners[i].name %></h5>
                    <h7>
                      <% if (allPartners[i].address.city) { %>
                          <%= allPartners[i].address.city %>, <%= allPartners[i].address.country %>
                      <% } %>
                    </h7>
                  </a>
                </div>
              </div>
          <% } else { %> <!-- if i is odd put it on the right side -->
              <div class="col">
                <div class="rightside">
                  <a href="/partner_profile/<%= allPartners[i]._id %>" class="slide-img">
                    <div id="kokoman"></div>
                    <center>
                      <% if (allPartners[i].pic) { %>
                        <img id="avatar" src="image/<%= allPartners[i].pic %>">
                      <% } else { %>
                        <img id="avatar" src="/static/images/noprofilepic.jpeg">
                      <% } %>
                    </center>
                    <h5><%= allPartners[i].name %></h5>
                    <h7><%= allPartners[i].email %></h7>
                  </a>
                </div>
              </div>
            </div>
          <% } %>
      <% } %>

      <% if (i%2 == 1) { %>
        <!-- if the total number of cards is even, insert empty card on the rightside and close row tag-->
          <div class="col">
            <div class="rightside" style="border:none;"></div>
          </div>
        </div> <!-- close the row tag -->
      <% } %>

    </div>

</div>


      <div id="map"></div>

      <!-- register popup -->

      <!-- <div id="registerModal" role="dialog" aria-hidden="true"
      class="modal in modal_site_login ui-draggable sticky-top" data-backdrop="true"
      data-keyboard="true" display="none">
        <div class="modal-dialog">
          <div class="modal-content" id="registercontent">
            <div class="input-group">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-number" disabled="disabled"
                  data-type="minus" data-field="quant[1]">
                      <span class="glyphicon glyphicon-minus"></span>
                  </button>
              </span>
              <input type="text" id="memi" name="quant[1]" class="form-control input-number" value="0" min="0" max="100">
              <span class="input-group-btn">
                  <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quant[1]">
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
              </span>
          </div>
          </div>
        </div>
      </div> -->
    </div>


    <script>
      function initMap() {
          //Map options
          var options = {
            zoom: 12,
            center: {lat: 45.510260, lng: -73.575745}
          }

          //New map
          var map = new google.maps.Map(document.getElementById("map"), options);

          var markers = [];
          // Iterate through all loaded partners and push markers
          <% for (var i = 0; i < allPartners.length; i++) { %>
            // only for partners with correct address registered
            <% if (allPartners[i].address.coordinates.lat) { %>
              var place = {
                coords: { lat: <%= allPartners[i].address.coordinates.lat %>, lng: <%= allPartners[i].address.coordinates.lng %> },
                content: "<%= allPartners[i].name %>"
              };
              markers.push(place);
            <% } %>
          <% } %>

          // Loop through and add markers
          for(var i = 0; i < markers.length; i++){
            addMarker(markers[i]);
          }

          var lastInfoWindow = false;

          function addMarker(props){
            var marker = new google.maps.Marker({
              position: props.coords,
              map:map
            });

            // Check for customicon
            if(props.iconImage){
              // Set icon image
              marker.setIcon(props.iconImage);
            }

            //Check contents
            if(props.content){
              var infoWindow = new google.maps.InfoWindow({
                content:props.content
              });

              marker.addListener('click', function(){
                // Close last opened infowindow so that only one is open
                if (lastInfoWindow) {
                  lastInfoWindow.close();
                }
                lastInfoWindow = infoWindow;
                infoWindow.open(map, marker);
              });

              // Add event listener for closing the infowindow when clicked on map
              google.maps.event.addListener(map, "click", function(event) {
                infoWindow.close();
              });

            }

          }

      }

    </script>

    <script src="/static/scripts/findpartner.js"></script>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmDeQATlbFJtZfqNZQQAAMgdDNfT7Z078&callback=initMap"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%=googleMapAPI%>&callback=initMap" async defer></script>

</script>
  </body>
</html>
