<html>
    <head>
        <meta charset="utf-8">
        <title>파트너 프로필</title>

        <style>
            #avatar {
                border-radius: 50%;
                width: 100px;
                height: 100px;
                background-size: cover;

                margin-bottom: 15px;
                transform: translate3d(0, -50%, 0);
            }
            html.disabled {
                overflow-y: hidden;
            }
            .heart {
                /* color: red !important; */
                opacity: 0;
            }
            .heart:hover {
                /* color: red !important; */
                opacity: 0.5;
            }
        </style>

        <% include ./partials/header %>

    </head>
    <body>


        <% include ./partials/proficiencychart %>
        <% include ./partials/task_request_form %>

        <% include ./partials/navbar %>

        <link rel="stylesheet" href="/static/stylesheets/profile2.css">


        <div class="flexbox">
            <div class="main">
                <% include ./partials/subbar %>
                
                <% if (error.length > 0) { %>
                  <span style="color:red;margin-left:70px;"><%= error %></span>
                <% } %>
                
                <div class="main-raised">
                    <div class="profile-content">
                        <div class="background"></div>
                        <div class="container">
                            
                            <!-- <div class="row rowdivider"> -->
                            <div class="col-8 ml-auto mr-auto">
                                <form id="savePartner" action="/save_current_partner" method="post"></form>
                                <div class="profile">
                                    <% if (thisPartner.pic) { %>
                                      <img class="profilpic" src="/image/<%= thisPartner.pic %>">
                                    <% } else { %>
                                      <img class="profilpic" src="/static/images/noprofilepic.jpeg">
                                    <% } %>
                                    <div class="name">
                                        <p>
                                            <%= thisPartner.name %>
                                            <% if (currentUser) { %>
                                                <% if (currentUser.type === "c") { %>
                                                    <% var isSaved = 0; %>
                                                    <% for (var i = 0; i < currentUser.savedPartners.length; i++) { %>
                                                        <% if (thisPartner.id == currentUser.savedPartners[i]) { %>
                                                            <% isSaved = 1; %>
                                                        <% } %>
                                                    <% } %>
                                                    <% if (isSaved == 0) { %>
                                                        <input form="savePartner" type="hidden" name="partnerID" value=<%= thisPartner.id %> />
                                                        <input form="savePartner" type="hidden" name="saveOrDelete" value="save" />
                                                        <button type="submit" form="savePartner" title="파트너 저장" style="background-color:Transparent; border:none; outline:none">
                                                            <span class="fa-stack fa-sm">
                                                                <i class="far fa-heart fa-stack-1x shade" style="color:grey;"></i>
                                                                <i class="fas fa-heart fa-stack-1x heart" style="color:red;"></i>
                                                            </span>
                                                        </button>
                                                    <% } else { %>
                                                        <input form="savePartner" type="hidden" name="partnerID" value=<%= thisPartner.id %> />
                                                        <input form="savePartner" type="hidden" name="saveOrDelete" value="delete" />
                                                        <button type="submit" form="savePartner" title="파트너 저장 취소" style="background-color:Transparent; border:none; outline:none">
                                                            <span class="fa-stack fa-sm">
                                                                <i class="fas fa-heart fa-stack-1x" style="color:red;"></i>
                                                            </span>
                                                        </button>
                                                    <% } %>
                                                <% } %>
                                            <% } %>
                                        </p>
                                        
                                        <h6>
                                          <% if (thisPartner.address.city) { %>
                                              <%= thisPartner.address.city %>, <%= thisPartner.address.country %>
                                          <% } %>
                                        </h6>
                                    </div>
                                    <p class="onelinedesc">비지니스 업무 전문 파트너입니다!</p>
                                    <div class="row">
                                            <span><img src="/static/icons/location.svg" style="width: 17px; height: 17px"></img><b>지역</b></span>
                                            <span>몬트리올</span>
                                    </div>
                                    <div class="row">
                                            <span><img src="/static/icons/flag.svg" style="width: 17px; height: 17px"></img><b>타 지역 업무 가능 여부</b></span>
                                            <span>타지역 업무 가능</span>
                                    </div>
                                    <div class="row">
                                            <span><img src="/static/icons/service.svg" style="width: 17px; height: 17px"></img><b>언어</b></span>
                                            <span>영어, 한국어, 프랑스어</span>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->

                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="rowdivider" id="introduction">
                    <div class="description-title">
                        <p class="divtitle">파트너 소개</p>
                    </div>
                    <p id="basicContent">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <span class="readmore"><a id="expand" href="#">Read More</a></span>
                    <span class="readless"><a id="collapse" href="#">Collapse</a></span>
                </div>
                <div class="divider"></div>
                <div class="rowdivider" id="photovideo">
                    <div class="description-title">
                        <p class="divtitle">사진/동영상</p>
                    </div>
                    <a class="largeview" href=""><img src="/static/images/countries/2newyork.jpg" width=150 height=150></a>
                    <a class="largeview" href=""><img src="/static/images/countries/4la.jpg" width=150 height=150></a>
                </div>
                <div class="divider"></div>
                <div class="rowdivider" id="reviews">
                    <div class="description-title">
                        <p class="divtitle">서비스 후기</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="divider"></div>
                <div class="rowdivider" id="certificates">
                    <div class="description-title">
                        <p class="divtitle">자격증/사업자 등록</p>
                    </div>
                    <img src="/static/icons/kakaotalk.svg" width=150 height=150>
                    <img src="/static/icons/manage.svg" width=150 height=150>
                </div>
                <div class="divider"></div>
                <div class="rowdivider refund">
                    <div class="description-title">
                        <p class="divtitle">최소 및 환불 규정</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a href="#" class="proficiencychart">언어보기</a>
                </div>
            </div>
            <div class="subcol">
                <div class="subbox">
                    <p><%= thisPartner.name %> 파트너님께<br/> 견적 요청 가능한 서비스</p>
                    <div class="availablelist">
                        <button class="btn btn-primary" name="button" data-toggle="modal" data-target="#myModal2">통역</button>
                        <button class="btn btn-info" name="button" data-toggle="modal" data-target="#myModal2">현지 차량</button>
                        <button class="btn btn-info" name="button" data-toggle="modal" data-target="#myModal2">번역</button>
                        <button class="btn btn-info" name="button" data-toggle="modal" data-target="#myModal2">기업/기관 섭외</button>
                        <button class="btn btn-info" name="button" data-toggle="modal" data-target="#myModal2">투어 가이드</button>
                        <button class="btn btn-info" name="button" data-toggle="modal" data-target="#myModal2">현지 시장 조사</button>
                    </div>
                </div>
            </div>
        </div>


        <script src="/static/scripts/partnerprofile.js"></script>
        <% include ./partials/footer %>

    </body>
</html>
