<!DOCTYPE html>
<html lang="en">
<head>
    <title>admin 페이지 - 트렉스</title>
    <meta charset="utf-8">
    <style>
        a:hover {
            cursor:pointer;
        }
    </style>
    <% include ./partials/header %>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/stylesheets/auth.css">
    <script src="/static/scripts/adminpage.js"></script>

    <link rel="stylesheet" href="../static/stylesheets/adminpage.css">

</head>
<body>

    <div class="topnav" style="padding-top:10px;padding-bottom:10px;background-color:white;position:fixed;width:100%;z-index:500;"> <!-- z-index:500; -->
        <a class="logo" href="/"><img class="margin" src="/static/images/trexlogo.png" height="60" width="100" style="margin-left:20px;"></img></a>

        <a id="admin_topNav" href="https://crewmxt.com/services/contact-us" target = "_blank" ><i class="fas fa-phone-volume"></i> Contact Us</a>
        <a id="admin_topNav"href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
    </div>

    <div style="padding:90px 5% 5% 5%;">
        <a href="/trex-admin?index=5">< 뒤로가기</a>
            <center><strong><big>파트너 프로필 관리</big></strong></center>
            <span style="float:right;"><a href="#" class="btn btn-danger btn-block" data-toggle="modal" data-target="#deleteProfileModal" role="button">프로필 삭제</a></span>
            <div class="modal fade" id="deleteProfileModal" tabindex="-1" role="dialog" aria-labelledby="deleteProfileModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteProfileModalLongTitle">파트너 프로필 삭제</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            이 파트너 프로필을 삭제 하시겠습니까?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary showBttn" data-dismiss="modal">취소</button>
                            <!-- <a href="/user_profile/deleteBusinessRegistration/" class="btn btn-danger showBttn">삭제</a> -->
                            <a href="/trex-admin/deleteProfile/<%= thisProfile._id %>" class="btn btn-danger showBttn">삭제</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr>

            <div class="row">
                <div class="col-sm-4">
                    <label><b>파트너 ID:</b></label>
                </div>
                <div class="col-sm-8">
                    <%= thisProfile.partner.id %>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label><b>파트너 이름:</b></label>
                </div>
                <div class="col-sm-8">
                    <%= thisProfile.partner.name %>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <label><b>파트너 이메일:</b></label>
                </div>
                <div class="col-sm-8">
                    <%= thisProfile.partner.email %>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-4">
                    <label><b>프로필:</b></label>
                </div>
                <div class="col-sm-8">
                    thisProfile.profile.link goes here
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-sm-4">
                    <label><b>한줄 소개:</b></label>
                </div>
                <div class="col-sm-7">
                    <% if (thisProfile.oneLineIntro) { %>
                        <%= thisProfile.oneLineIntro %>
                    <% } else { %>
                        아직 등록되어 있지 않습니다.
                    <% } %>
                </div>
                <div class="col-sm-1">
                    <span style="float:right;"><a href="#" class="btn btn-primary btn-block" role="button" data-toggle="modal" data-target="#editOneLineIntroModal">변경</a></span>
                    <div class="modal fade" id="editOneLineIntroModal" tabindex="-1" role="dialog" aria-labelledby="editOneLineIntroModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form action="/trex-admin/editProfile/editOneLineIntro/<%= thisProfile.id %>" method="post">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editOneLineIntroModalLongTitle">한줄 소개 편집</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" class="form-control" id="oneLineIntro" name="oneLineIntro" placeholder="클라이언트에게 본인 한줄 소개를 해주세요." value="<%= thisProfile.oneLineIntro %>">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                        <!-- <a href="/user_profile/deleteBusinessRegistration/" class="btn btn-danger showBttn">삭제</a> -->
                                        <button type="submit" class="btn btn-primary">편집</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <label><b>지역:</b></label>
                </div>
                <div class="col-sm-8">
                    <% if (thisProfile.region) { %>
                        <%= thisProfile.region %>
                    <% } else { %>
                        아직 등록되어 있지 않습니다.
                    <% } %>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <label><b>타지역:</b></label>
                </div>
                <div class="col-sm-8">
                    <% if (thisProfile.otherRegion.length > 0) { %>
                        <% for (var i = 0; i < thisProfile.otherRegion.length; i++) { %>
                            <%= thisProfile.otherRegion[i] %>
                            <% if (i < thisProfile.otherRegion.length-1) { %>
                                 ,
                            <% } %>
                        <% } %>
                    <% } else { %>
                        타지역 업무 불가능
                    <% } %>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <label><b>자기소개:</b></label>
                </div>
                <div class="col-sm-7">
                    <% if (thisProfile.aboutMe) { %>
                        <%= thisProfile.aboutMe %>
                    <% } else { %>
                        아직 등록되어 있지 않습니다.
                    <% } %>
                </div>
                <div class="col-sm-1">
                    <span style="float:right;"><a href="#" class="btn btn-primary btn-block" role="button" data-toggle="modal" data-target="#editAboutMeModal">변경</a></span>
                    <div class="modal fade" id="editAboutMeModal" tabindex="-1" role="dialog" aria-labelledby="editAboutMeModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form action="/trex-admin/editProfile/editAboutMe/<%= thisProfile.id %>" method="post">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="editAboutMeModalLongTitle">자기 소개 편집</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <textarea class="form-control" name="aboutMe" id="aboutMe" rows="12"><%= thisProfile.aboutMe %></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                        <!-- <a href="/user_profile/deleteBusinessRegistration/" class="btn btn-danger showBttn">삭제</a> -->
                                        <button type="submit" class="btn btn-primary">편집</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-sm-4">
                    <label><b>제공 서비스:</b></label>
                </div>
                <% if (thisProfile.availableServices.length > 0) { %>
                    <% for (var i = 0; i < thisProfile.availableServices.length; i++) { %>
                        <% if (i > 0) { %>
                            <div class="row">
                                <div class="col-sm-4"></div>
                        <% } %>
                            <div class="col-sm-8">
                                <b>서비스 종류: </b>&nbsp&nbsp&nbsp<i><%= thisProfile.availableServices[i].serviceCategory %></i><br>
                                <b>서비스명: </b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i><%= thisProfile.availableServices[i].serviceName %></i><br>
                                <b>예상 가격: </b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<i>$<%= thisProfile.availableServices[i].minRate %> ~ $<%= thisProfile.availableServices[i].maxRate %></i><br>
                                <b>서비스 소개: </b>&nbsp&nbsp&nbsp<i><%= thisProfile.availableServices[i].aboutService %></i>
                            </div>
                        </div><!-- end of <row> -->
                        <br>
                    <% } %>
                <% } else { %>
                        <div class="col-sm-8">
                            서비스가 아직 등록되어 있지 않습니다.
                        </div>
                    </div><!-- end of <row> -->
                    <br>
                <% } %>

            <div class="row">
                <div class="col-sm-4">
                    <label><b>예약 불가능일:</b></label>
                </div>
                <div class="col-sm-8">
                    <% if (thisProfile.unavailableDates.length > 0) { %>
                        <% for (var i = 0; i < thisProfile.unavailableDates.length; i++) { %>
                            <%= thisProfile.unavailableDates[i] %>
                            <% if (i < thisProfile.unavailableDates.length-1) { %>
                                 ,
                            <% } %>
                        <% } %>
                    <% } else { %>
                        아직 등록되어 있지 않습니다.
                    <% } %>
                </div>
            </div>
            <br>
            <hr>
            <% if (thisProfile.type == "agency") { %>
                <div class="col-sm-3"><b>사업자 등록증</b></div><div class="col-sm-9"></div>
                <div class="row" style="margin-bottom:50px;width:100%;">
                    <% for (var i = 0; i < thisProfile.businessRegistration.length; i++) { %>
                        <form id="deleteForm<%= i %>" action="/user_profile/deleteBusinessRegistration/<%= thisProfile.businessRegistration[i] %>/<%= thisProfile._id %>?_method=DELETE" method="post"></form>
                        <div class="col">
                            <%=i+1%>.<a data-toggle="modal" data-target="#imageModal<%= i %>">
                                <img src="/businessRegistration/<%= thisProfile.businessRegistration[i] %>" style="width:150px;height:225px;">
                            </a>
                            <div class="modal fade" id="imageModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="imageModalTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="imageModalLongTitle">사업자 등록증 삭제</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            이 사업자 등록증을 삭제 하시겠습니까?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary showBttn" data-dismiss="modal">취소</button>
                                            <!-- <a href="/user_profile/deleteBusinessRegistration/" class="btn btn-danger showBttn">삭제</a> -->
                                            <button form="deleteForm<%= i %>" class="btn btn-danger showBttn">삭제</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>

            <% } %>

            <hr>

            <div class="col-sm-7"><b>미디어 (이력서, 자격증 등)</b></div><div class="col-sm-5"></div>
            <div class="row" style="margin-bottom:50px;width:100%;">
                <% for (var i = 0; i < thisProfile.media.length; i++) { %>
                    <form id="deleteMediaForm<%= i %>" action="/user_profile/deleteMedia/<%= thisProfile.media[i] %>/<%= thisProfile._id %>?_method=DELETE" method="post"></form>
                    <div class="col">
                        <%=i+1%>.<a data-toggle="modal" data-target="#mediaModal<%= i %>">
                            <img src="/media/<%= thisProfile.media[i] %>" style="width:150px;height:225px;">
                        </a>
                        <div class="modal fade" id="mediaModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="mediaModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="mediaModalLongTitle">미디어 삭제</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        이 미디어를 삭제 하시겠습니까?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary showBttn" data-dismiss="modal">취소</button>
                                        <!-- <a href="/user_profile/deleteBusinessRegistration/" class="btn btn-danger showBttn">삭제</a> -->
                                        <button form="deleteMediaForm<%= i %>" class="btn btn-danger showBttn">삭제</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>


    </div>



    <center style="font-weight:700;font-size:13px;">COPYRIGHT© 2019 MXT. ALL RIGHTS RESERVED BY CREWMXT.COM</center>
    <br>

</body>
</html>
