<!DOCTYPE html>
<html lang="en">
<head>
  <title>admin 페이지 - 트렉스</title>
  <meta charset="utf-8">

  <% include ./partials/header %>
  <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/stylesheets/auth.css">
  <script src="/static/scripts/adminpage.js"></script>

  <!-- scroll to top button -->
  <script>
  document.addEventListener("DOMContentLoaded", function (event) {
     // type();
     movingBackgroundImage();
  });
  </script>
  <div class="container-fluid">
  <button href="#" id="scroll" style="display: none;">&uarr;<br>top</button>
  </div>

  <script>

  $(document).ready(function(){
    $(window).scroll(function(){
        if ($(this).scrollTop() > -1) {
            $('#scroll').fadeIn().css("z-index","4");
        } else {
            $('#scroll').fadeOut();
        }

    });
    $('#scroll').click(function(e){
        $("html, body").animate({ scrollTop: 0 }, 600);
        return false;
    });
  });
  </script>
  <!-- /scroll to top button -->
    <link rel="stylesheet" href="../static/stylesheets/adminpage.css">


</head>
<body>



  <div class="topnav" style="background-color:white;position:fixed;width:100%;z-index:500;"> <!-- z-index:500; -->
    <a class="logo " href="/"><img class="margin" src="/static/images/trexlogo.png" height="60" width="100" style="margin-left:20px;"></img></a>


    <a  id="admin_topNav" href="https://crewmxt.com/services/contact-us" target = "_blank" ><i class="fas fa-phone-volume"></i> Contact Us</a>
    <a  id="admin_topNav"href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>


  </div>


<div id="myDIV">
  <div class="sidebar sticky-top sticky-offset">
  <a id="nav1" class="nav-item active" href="#?dashboard" onclick="dashBoard();"><i class="fas fa-chart-line"></i> Dashboard</a>


  <a class=" dropdown-btn" href="#?users "><i class="fas fa-users"></i> Users
      <i class="fa fa-caret-down" style="display:inline;" ></i>
    </a>

    <div id="nav_item_users" class="dropdown-container" >
      <a id="nav2" class="nav-item" href="#?users-clients" onclick="usersClients();"><i class="fas fa-user"></i> Clients</a>
      <a id="nav3" class="nav-item" href="#?users-partners" onclick="usersPartners();"><i class="far fa-handshake"></i> Partners</a>
      <a id="nav9" class="nav-item" href="#?users-deleted" onclick="usersDeleted();"><i class="far fa-trash-alt"></i> To be deleted</a>
    </div>


    <a class=" dropdown-btn" href="#?services "><i class="fas fa-cogs"></i> Services
        <i class="fa fa-caret-down" ></i>
      </a>

      <div id="nav_item_services" class="dropdown-container" >
        <a id="nav4" class="nav-item" href="#?services_1" onclick="services1();"><i class="far fa-envelope"></i> Messages </a>
        <a id="nav5" class="nav-item" href="#?services_2" onclick="services2();"><i class="far fa-file-alt"></i> Partner Profiles </a>
        <a id="nav6" class="nav-item" href="#?services_3" onclick="services3();"><i class="fas fa-hammer"></i> Steven3</a>
      </div>


    <a class=" dropdown-btn" href="#?admin "><i class="fas fa-user-secret"></i> Admin
        <i class="fa fa-caret-down" ></i><i class="fas fa-caret-up" style="display:none;"></i>
      </a>

  <div id="nav_item_admin" class="dropdown-container" >
    <a id="nav7" class="nav-item" href="#?adminList" onclick="adminList();"><i class="fas fa-list"></i> Admin List</a>
    <a id="nav8" class="nav-item" href="#?addAdmin" onclick="addAdmin();"><i class="fas fa-plus" style="margin-left:0;padding-left:0;"></i> Add Admin</a>
  </div>
  </div>
</div>


<script>
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
    <!-- this.classList.toggle("active"); -->
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
    dropdownContent.style.display = "none";
    } else {
    dropdownContent.style.display = "block";
    }
    });
  }


var header = document.getElementById("myDIV");
var btns = header.getElementsByClassName("nav-item");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
  var current = document.getElementsByClassName("active");
  current[0].className = current[0].className.replace(" active", "");
  this.className += " active";
  });
}


</script>

<left id="div1_dashBoard"  style="display:inline;">
<div class="content" style="padding-top:80px;">
  dashboard content

</div>
</left>

<left id="div2_users-clients"  style="display:none;">
  <div class="content" >


      <div class="main" style="padding-top:40px;padding-bottom: 0px;margin-right:70px;">

        <!-- Actual search box -->
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback" style="width:3%;height:3%;margin-top:8px;"></span>
          <input id="myInput" type="text" class="form-control" placeholder="Search" onkeyup="myFunction()" style="position:absolute;width:25%;">
        </div>
    </div>


  <table class="table table-bordered margin2" id="myTable" style="margin-top:60px;">
  <thead class="thead-dark">
    <tr>
      <th id="adminPanelOrder" scope="col">#</th>
      <th id="adminPanelRegDate" scope="col">Registration Date</th>
      <th id="adminPanelName" scope="col">Name</th>
      <th id="adminPanelEmail" scope="col">Email</th>
      <th id="adminPanelDOB" scope="col">DOB</th>
      <th scope="col">Address</th>
      <th id="edit-delete" scope="col">Edit</th>
      <th id="edit-delete" scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < clientList.length; i++) { %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td nowrap><%= clientList[i].registeredDate %></td>
          <td nowrap><%= clientList[i].name %></td>
          <td nowrap><%= clientList[i].email %></td>
          <td nowrap><%= clientList[i].dateOfBirth %></td>
          <td nowrap><%= clientList[i].companyAddress %></td>
          <td ><a href="#"><i class="far fa-edit"></i></a></td>
          <td ><a href="/deleteClient/<%= clientList[i]._id %>"><i class="fas fa-trash"></i></a></td>
        </tr>
    <% } %>
  </tbody>
</table>
</div>
</left>



<left id="div3_users-partners"  style="display:none;">
  <div class="content ">
      <div class="main" style="padding-top:40px;padding-bottom: 0px;margin-right:70px;">

        <!-- Actual search box -->
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback" style="width:3%;height:3%;margin-top:8px;"></span>
          <input id="myInput2" type="text" class="form-control" placeholder="Search" onkeyup="myFunction2()" style="position:absolute;width:25%;">
        </div>
    </div>

  <table class="table table-bordered margin2" id="myTable2" style="margin-top:60px;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Registration Date</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">DOB</th>
      <th scope="col">Region</th>
      <th id="edit-delete" scope="col">Edit</th>
      <th id="edit-delete" scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < partnerList.length; i++) { %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td nowrap><%= partnerList[i].registeredDate %></td>
          <td nowrap><%= partnerList[i].name %></td>
          <td nowrap><%= partnerList[i].email %></td>
          <td nowrap><%= partnerList[i].dateOfBirth %></td>
          <td nowrap><%= partnerList[i].city %>,</td>
          <td ><a href="#"><i class="far fa-edit"></i></a></td>
          <td ><a href="/deletePartner/<%= partnerList[i]._id %>"><i class="fas fa-trash"></i></a></td>
        </tr>
    <% } %>
  </tbody>
</table>

</div>
</left>


<left id="div9_users_deleted"  style="display:none;">
<div class="content" style="padding-top:80px;">
<h3>Users to be deleted</h3>
</div>
</left>


<left id="div4_services_1"  style="display:none;">
<div class="content" >
    <div class="main" style="padding-top:40px;padding-bottom: 0px;margin-right:70px;">

      <!-- Actual search box -->
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback" style="width:3%;height:3%;margin-top:8px;"></span>
        <input id="myInput3" type="text" class="form-control" placeholder="Search" onkeyup="myFunction3()" style="position:absolute;width:25%;">
      </div>
  </div>

  <table class="table table-bordered margin2" id="myTable3" style="margin-top:60px;">
  <thead class="thead-dark">
    <tr >
      <th scope="col">#</th>
      <th scope="col">First Sent Date</th>
      <th scope="col">Last Sent Date</th>
      <th scope="col">Client</th>
      <th scope="col">Partner</th>
      <th id="edit-delete" scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < messageList.length; i++) { %>
        <tr class="header">
          <th scope="row"><%= i+1 %></th>
          <td nowrap><%= messageList[i].detail[0].date %></td>
          <% var numDetails = messageList[i].detail.length - 1; %>
          <td nowrap><%= messageList[i].detail[numDetails].date %></td>
          <td nowrap><%= messageList[i].clientName %></td>
          <td nowrap><%= messageList[i].partnerName %></td>
          <td id="delete_box"><a href="#"><i class="fas fa-trash"></i></a></td>
        </tr>
        <tr class="message thead-light" id="message_<%= i+1 %>">
            <th></th>
            <th>User</th>
            <th>Time</th>
            <th>Content</th>
            <th>Delete</th>
        </tr>
        <% for(var k = 0; k < messageList[i].detail.length; k++) { %>
            <tr class="message thead-light" id="message_<%= i+1 %>">
                <th></th>
                <th style="font-weight:100"><% if (messageList[i].detail[k].author === 'c') { %>
                        <%= messageList[i].clientName %>
                    <% } else { %>
                        <%= messageList[i].partnerName %>
                    <% } %>
                </th>
                <th style="font-weight:100"><%= messageList[i].detail[k].time %>, <%= messageList[i].detail[k].date %></th>
                <th style="font-weight:100"><%= messageList[i].detail[k].content %></th>
                <th><i class="fas fa-trash"></i></th>
            </tr>
        <% } %>
        <tr class="message thead-light" id="message_<%= i+1 %>">
            <th ></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    <% } %>
  </tbody>
  </table>



    <script>
        $('.header').click(function(){
        $(this).find('span').text(function(_, value){return value=='-'?'+':'-'});
        $(this).nextUntil('tr.header').slideToggle(100, function(){
        });
        });

        $('.message').hide().filter(function () {
        return $(this).find('td[colspan]').length;
        }).addClass('header').css('display', 'table-row').click(function () {
        $(this).nextUntil('tr.header').css('display', function (i, v) {
            return this.style.display === 'table-row' ? 'none' : 'table-row';
        });
        });
    </script>

</div>
</left>


<left id="div5_services_2"  style="display:none;">
    <div class="content" style="padding-top:80px;">
        <div class="main" style="padding-top:40px;padding-bottom: 0px;margin-right:70px;">
            <!-- Actual search box -->
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback" style="width:3%;height:3%;margin-top:8px;"></span>
                <input id="myInput6" type="text" class="form-control" placeholder="Search" onkeyup="myFunction6()" style="position:absolute;width:25%;">
            </div>
        </div>

        <table class="table table-bordered margin2" id="myTable6" style="margin-top:60px;">
            <thead class="thead-dark">
                <tr>
                    <th id="adminPanelOrder" scope="col">#</th>
                    <th id="adminPanelID" scope="col">파트너 ID</th>
                    <th id="adminPanelType" scope="col">타입</th>
                    <th id="adminPanelName" scope="col">파트너 이름</th>
                    <th id="adminPanelEmail" scope="col">파트너 이메일</th>
                    <th id="adminPanelBusinessRegistration" scope="col">사업자 등록증</th>
                    <th id="adminPanelMedia" scope="col">미디어</th>
                    <th id="adminPanelRegion" scope="col">지역</th>
                    <th id="adminPanelOtherRegion" scope="col">타지역</th>
                    <th id="adminPanelCreatedDate" scope="col">등록일자</th>
                    <th id="adminPanelLastEditDate" scope="col">최근 수정일</th>
                    <th id="adminPanelViews" scope="col">조회수</th>
                    <th id="adminPanelVerified" scope="col">수락여부</th>
                    <th id="adminPanelVerify" scope="col">수락하기</th>
                    <th id="adminPanelInterviewed" scope="col">인터뷰 여부</th>
                    <!-- <th scope="col">Address</th> -->
                    <th id="edit-delete" scope="col">Edit</th>
                    <th id="edit-delete" scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < profileList.length; i++) { %>
                    <% if (profileList[i]) { %>
                        <tr>
                            <th scope="row"><%= i+1 %></th>
                            <td nowrap><%= profileList[i].partner.id %></td>
                            <% if (profileList[i].type == "freelancer") { %>
                                <td nowrap>프리랜서</td>
                            <% } else if (profileList[i].type == "agency") { %>
                                <td nowrap>에이전시</td>
                            <% } %>
                            <td nowrap><%= profileList[i].partner.name %></td>
                            <td nowrap><%= profileList[i].partner.email %></td>
                            <td nowrap><%= profileList[i].businessRegistration.length %> 개</td>
                            <td nowrap><%= profileList[i].media.length %> 개</td>
                            <td nowrap><%= profileList[i].region %></td>
                            <% if (profileList[i].otherRegion.length > 0) { %>
                                <td nowrap><i class="fas fa-check" style="color:green;"></i></td>
                            <% } else { %>
                                <td nowrap><i class="fas fa-times" style="color:red;"></i></td>
                            <% } %>
                            <td nowrap><%= profileList[i].registeredDate %></td>
                            <td nowrap><%= profileList[i].lastEditedDate %></td>
                            <td nowrap><%= profileList[i].views %></td>
                            <% if (profileList[i].isVerified) { %>
                                <td nowrap><span style="color:green;">수락됨</span></td>
                            <% } else { %>
                                <td nowrap><span style="color:red;">수락안됨</span></td>
                            <% } %>
                            <% if (profileList[i].isVerified) { %>
                                <td nowrap><a href="/verifyProfile/<%= profileList[i].id %>">수락취소</a></td>
                            <% } else { %>
                                <td nowrap><a href="/verifyProfile/<%= profileList[i].id %>">수락하기</a></td>
                            <% } %>
                            <% if (profileList[i].isInterviewed) { %>
                                <td nowrap><i class="fas fa-check" style="color:green;"></i> <a href="/isInterviewed/<%= profileList[i].id %>">전환</a></td>
                            <% } else { %>
                                <td nowrap><i class="fas fa-times" style="color:red;"></i> <a href="/isInterviewed/<%= profileList[i].id %>">전환</a></td>
                            <% } %>
                            <td ><a href="/editProfile/<%= profileList[i]._id %>"><i class="far fa-edit"></i></a></td>
                            <td ><a href="/deleteProfile/<%= profileList[i]._id %>"><i class="fas fa-trash"></i></a></td>
                        </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
</left>


<left id="div6_services_3"  style="display:none;">
<div class="content" style="padding-top:80px;">
<h3>Service 3 content</h3>
</div>
</left>

<left id="div7_adminList"  style="display:none;" >
  <div class="content">
      <div class="main" style="padding-top:40px;padding-bottom: 0px;margin-right:70px;">

        <!-- Actual search box -->
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback" style="width:3%;height:3%;margin-top:8px;"></span>
          <input id="myInput4" type="text" class="form-control" placeholder="Search" onkeyup="myFunction4()" style="position:absolute;width:25%;">
        </div>
    </div>

    <table class="table table-bordered margin2" id="myTable4" style="margin-top:60px;">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Registration Date</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th id="edit-delete" scope="col">Edit</th>
        <th id="edit-delete" scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < adminList.length; i++) { %>
          <tr>
            <th scope="row"><%= i+1 %></th>
            <td nowrap><%= adminList[i].registeredDate %></td>
            <td nowrap><%= adminList[i].name %></td>
            <td nowrap><%= adminList[i].email %></td>
            <td ><a href="#"><i class="far fa-edit"></i></a></td>
            <td ><a href="/deleteAdmin/<%=adminList[i]._id%>"><i class="fas fa-trash"></i></a></td>
          </tr>
      <% } %>
    </tbody>
  </table>
</div>
</left>



<left id="div8_addAdmin"  style="display:none;">
  <div class="content" style="padding-top:80px;">
    <center>
    <div class="modal-body">
      <div class="auth_content">

<!-- Tester -->
<center>
    <div class="modal-body">
      <div class="auth_content">
          <h3><p>Add Admin</p></h3>
          <br><br>

          <div class="loginform registerform">
            <% if (error) { %>
              <span style="color:red"><%= error %></span>
            <% } %>
              <form action="/addAdmin" method="post" id="myform">

                  <% if(fail.length > 0) { %>
                  <p>Name</p>
                  <input class="form-control currentname" type="text" name="name" value="<%= fail[0].name %>" required>
                  <p>Email</p>
                  <input class="form-control currentemail" type="email" name="email" value="<%= fail[0].email %>" required>
                  <p>Password</p>
                  <input class="form-control currentpassword" type="password" name="password" value="<%= fail[0].password %>" required>

                  <% } else { %>

                  <p>Name</p>
                  <input class="form-control currentname" type="text" name="name" required>
                  <p>Email</p>
                  <input class="form-control currentemail" type="email" name="email" required>
                  <p>Password</p>
                  <input class="form-control currentpassword" type="password" name="password" required>
                  <% } %>

                  <p>Confirm Password</p>
                  <input class="form-control" type="password" name="password2" id="confirm_password" onkeyup='check();' required>
                  <input class="form-control btn btn-primary" type="submit" value="Register">
                </form>


            </div>
      </div>
    </div>
</center>
<!-- Tester -->

</div>
</div>
</center>
  </div>
</left>


<center style="font-weight:700;font-size:13px;padding-left:200px;">COPYRIGHT© 2019 MXT. ALL RIGHTS RESERVED BY CREWMXT.COM</center>
<br>
</body>
</html>
