<html>
    <head>
        <meta charset="utf-8">
        <style>
            .btn-primary:hover {
                cursor: pointer;
                background-color: #00b3db !important;
                border-color: #00b3db !important;
            }
            #avatar{
                border-radius: 50%;
                width: 45px;
                height: 45px;
                background-size: cover;
                margin: 0;
                 position: absolute;
                 top: 50%;
                 -ms-transform: translateY(-50%);
                 transform: translate3d(-50%,-50%,0);

            }
            .leftside, .rightside{
                width: 100%;
                /* border: 1px solid rgba(0, 0, 0, 0.5); */
                margin-bottom: 10px;
                z-index: 2;

            }
            #left{
              max-width: 25%;
            }
            #left, #right{
              height: 80px;
              padding: 10px;
            }
            #sliders a{
                text-decoration: none;
                color:black;
            }
            #wrapper{
              width: 50%;
              height: 550px;
              overflow-y:scroll;
              overflow-x: hidden;
              float:left;
              position: relative;
              margin:0;
              padding-left: 2.5%;
              padding-right: 2.5%;

            }
            #wrapper .row{
              border: 1px solid rgba(0, 0, 0, 0.3);
              width: 500px;
            }
            #wrapper h4{
              font-size: 20px;

            }
        </style>

        <title>Member - 트렉스</title>

        <% include ./partials/header %>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    </head>
    <body>

        <% include ./partials/profileedit-image %>

        <% include ./partials/navbar %>

        <link rel="stylesheet" href="/static/stylesheets/profile.css">

        <script src="js/jquery.js"></script>
        <script src="js/moment.min.js"></script>
        <script src="js/combodate.js"></script>

        <div class="profile">
            <div class="tab">
                <div class="row top">
                    <div class="col-12">
                        <p class="setting">계정 관리</p>
                        <div class="menu">
                            <a class="task_request_info" href="/user_profile/task_request_info">견적 요청 관리</a>
                            <a class="applicants_info" href="/user_profile/applicants_info">지원자 보기</a>
                            <a class="task_management" href="/user_profile/task_management">업무 관리</a>
                            <% if (currentUser.messageNotification) { %>
                                <i class="fas fa-circle fa-xs" style="color:red;font-size:10px;margin-bottom:3px;"></i>
                                <a class="messages" href="/user_profile/messages">메세지</a>
                            <% } else { %>
                                <a class="messages" href="/user_profile/messages">메세지</a>
                            <% } %>
                            <a class="saved_partners" href="/user_profile/saved_partners">저장된 파트너</a>
                            <a class="accountinfo profileactive" href="/user_profile/account_info">계정관리</a>
                        </div>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col-md-4 col-12" style="padding:0% 0% 0% 5.2%;">
                        <div class="backgroundimgClient">
                        </div>

                        <div class="mainimg">
                        <% if (currentUser.profilePic) { %>
                            <img class="profileimg" src="/profilePic/<%= currentUser.profilePic %>">
                        <% } else { %>
                            <img class="profileimg" src="/static/images/noprofilepic.jpeg">
                        <% } %>
                            <div class="changeslider">
                                사진 바꾸기<br/>
                                <span class="camera"></span>
                            </div>
                        </div>

                        <p class="userName"><%= currentUser.name %></p>
                    </div>

                    <div class="col-md-8">


                        <!--  계정 관리  -->
                        <% if (error.length > 0) { %>
                          <span style="color:red;margin-left:70px;"><%= error %></span>
                        <% } %>
                          <div class="row sections basic" id="basic">
                              <p class="basictitle"><b>기본 정보</b></p>
                              <form id="basicinfoform" action="/user_profile/basicClientInfo" method="post"></form>
                              <div class="buttons basicinfo">
                                  <button class="btn btn-info editbuttons activebutton" id="edit">편집</a>
                                  <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                  <button class="btn btn-info editbuttons" id="confirm" form="basicinfoform">확인</a>
                              </div>
                              <div class="divider"></div>

                              <div class="row element">
                                      <span><i class="fa fa-birthday-cake" aria-hidden="true"></i><b>생일</b></span>
                                      <span class="answer switch active"><%= accountInfo.displayBirthday %></span>
                                      <!-- <span class="switch"><input type="date" form="basicinfoform" class="form-control" name="birthday" value="<%= accountInfo.birthday %>"></span> -->
                                      <span class="switch">
                                          <input type="text" form="basicinfoform" class="form-control" name="birthday" value="<%= accountInfo.birthday %>"/>
                                      </span>
                              </div>
                              <div class="row element">
                                      <span><i class="fas fa-table" aria-hidden="true"></i><b>업종</b></span>
                                      <span class="answer switch active"><%= accountInfo.category %></span>
                                      <span class="switch"><input form="basicinfoform" class="form-control" name="category" value="<%= accountInfo.category %>"></span>
                              </div>
                              <div class="row element">
                                      <!-- <i class="far fa-id-card"></i> -->
                                      <span><i class="fas fa-id-badge" aria-hidden="true"></i><b>담당자 직급</b></span>
                                      <span class="answer switch active"><%= accountInfo.managerPosition %></span>
                                      <span class="switch"><input form="basicinfoform" class="form-control" name="managerPosition" placeholder="직급" value="<%= accountInfo.managerPosition %>"></span>
                              </div>
                              <div class="row element">
                                      <span><i class="fa fa-phone" aria-hidden="true"></i><b>담당자 전화번호</b></span>
                                      <span class="answer switch active"><%= accountInfo.managerPhoneNumber %></span>
                                      <span class="switch"><input form="basicinfoform" class="form-control" name="managerPhoneNumber" value="<%= accountInfo.managerPhoneNumber %>"></span>
                              </div>
                              <div class="row element">
                                      <span><i class="fas fa-file" aria-hidden="true"></i><b>회사 또는 기관명</b></span>
                                      <span class="answer switch active"><%= accountInfo.companyName %></span>
                                      <span class="switch"><input form="basicinfoform" class="form-control" name="companyName" value="<%= accountInfo.companyName %>"></span>
                              </div>
                              <div class="row element">
                                      <span><i class="fas fa-building" aria-hidden="true"></i><b>회사 주소</b></span>
                                      <span class="answer switch active"><%= accountInfo.companyAddress %></span>
                                      <!-- <span class="switch"><input form="basicinfoform" class="form-control" name="companyAddress" value="<%= accountInfo.companyAddress %>"></span> -->
                                      <span class="switch"><input form="basicinfoform" id="autocomplete" class="form-control" name="companyAddress"
                                           placeholder="한국 주소일 경우 도로명 주소로 기제 부탁드립니다." value="<%= accountInfo.companyAddress %>"
                                           onFocus="geolocate()"
                                           type="text"/></span>
                              </div>
                              <div class="row element">
                                      <span><i class="far fa-window-maximize" aria-hidden="true"></i><b>회사 웹사이트</b></span>
                                      <span class="answer switch active"><%= accountInfo.companyWebsite %></span>
                                      <span class="switch"><input form="basicinfoform" class="form-control" name="companyWebsite" value="<%= accountInfo.companyWebsite %>"></span>
                              </div>
                              <div class="row element">
                                      <span><i class="fas fa-share-alt-square" aria-hidden="true"></i><b>회사 SNS</b></span>
                                      <span class="answer switch active"><%= accountInfo.companySNS %></span>
                                      <span class="switch"><input form="basicinfoform" class="form-control" name="companySNS" value="<%= accountInfo.companySNS %>"></span>
                              </div>
                              <div class="row element">
                                      <span><i class="fas fa-briefcase" aria-hidden="true"></i><b>회사 소개</b></span>
                                      <span class="answer switch active"><%= accountInfo.companyDescription %></span>
                                      <span class="switch"><input form="basicinfoform" class="form-control" name="companyDescription" value="<%= accountInfo.companyDescription %>"></span>
                              </div>
                              <div class="row element">
                                      <span><i class="fas fa-mobile-alt" aria-hidden="true"></i><b>카카오톡 ID</b></span>
                                      <span class="answer switch active"><%= accountInfo.kakaoID %></span>
                                      <span class="switch"><input form="basicinfoform" class="form-control" name="kakaoID" value="<%= accountInfo.kakaoID %>"></span>
                              </div>
                          </div>

                          <div class="row sections photo" id="photo">
                              <p class="basictitle"><b>회사 로고</b></p>
                              <form id="changePic" action="/user_profile/companyLogoUpload" method="post" enctype="multipart/form-data"></form>
                              <form id="defaultPic" action="/user_profile/deleteCompanyLogo?_method=DELETE" method="post"></form>
                              <div class="buttons photoinfo">
                                  <button class="btn btn-info editbuttons activebutton" id="edit" style="width:90px;">교체하기</a>
                                  <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                  <button class="btn btn-info editbuttons" id="confirm" form="changePic">교체</a>
                                  <button form="defaultPic" class="btn btn-secondary editbuttons">기본 사진 사용하기</button>
                              </div>
                              <div class="divider"></div>
                              <div class="row element" style="margin-left:15px;">

                                    <span class="switch">
                                        <div class="input-group">
                                            <label class="input-group-btn">
                                                <span class="btn btn-primary switch" style="width:100%!important;padding-left:13%;">
                                                    Browse&hellip; <input form="changePic" type="file" name="companyLogo" accept="image/*" style="display:none;" required />
                                                </span>
                                            </label>
                                            <input type="text" class="form-control" style="max-width:400px!important;" readonly>
                                        </div>
                                    </span>

                                    <span class="switch">
                                      <font size=2>로고 사이즈는 150x150px로 맞춰주세요.</font>
                                    </span>

                              </div>
                          </div>


                          <div class="row sections security" id="security">
                              <p class="basictitle"><b>보안 정보</b></p>
                              <form id="privateinfoform" action="/user_profile/account_info/security_client" method="post">
                              </form>
                              <div class="buttons privateinfo">
                                  <button class="btn btn-info editbuttons activebutton" id="edit">비밀번호 변경</a>
                                  <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                  <button class="btn btn-info editbuttons" id="confirm" form="privateinfoform">확인</a>
                              </div>
                              <div class="divider"></div>
                              <% if (error_password.length > 0) { %>
                                <span style="color: red"><%= error_password %></span>
                              <% } %>
                              <div class="row element">
                                      <span class="switch active"><i class="fa fa-lock" aria-hidden="true"></i><b>비밀번호</b></span>
                                      <span class="answer switch active">********</span>
                                      <span class="currentpassword switch"><i class="fa fa-lock" aria-hidden="true"></i><b>현재 비밀번호</b></span>
                                      <span class="switch"><input form="privateinfoform" type="password" class="form-control" name="currentPassword"></span>
                              </div>
                              <div class="row element">
                                      <span class="switch"><i class="fa fa-lock" aria-hidden="true"></i><b>새 비밀번호</b></span>
                                      <span class="switch"><input form="privateinfoform" type="password" class="form-control" name="newPassword"></span>
                              </div>
                              <div class="row element">
                                      <span class="switch"><i class="fa fa-lock" aria-hidden="true"></i><b>새 비밀번호 확인</b></span>
                                      <span class="switch"><input form="privateinfoform" type="password" class="form-control" name="newPasswordConfirm"></span>
                              </div>
                          </div>


                          <div class="row sections deleteAccount" id="deleteAccount">
                              <p class="basictitle"><b>계정 삭제</b></p>
                              <form id="deleteForm" action="" method="post">
                              </form>
                              <div class="buttons deleteinfo">
                                  <button class="btn btn-secondary editbuttons activebutton" id="edit">삭제하기</a>
                                  <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                  <button class="btn btn-danger editbuttons" id="confirm" form="deleteForm">삭제</a>
                              </div>
                              <div class="divider"></div>
                              <div class="row element">
                                      <span class="currentpassword switch"><i class="fa fa-lock" aria-hidden="true"></i><b>비밀번호</b></span>
                                      <span class="switch"><input form="deleteForm" type="password" class="form-control" name="password"></span>
                                      <br><br>
                                      <span class="switch">
                                        <p align="right" style="font-size:13px;">계정이 삭제되면 복구가 불가능 합니다!</font>
                                      </span>

                              </div>
                          </div>




                    </div>
                </div>
            </div>
        </div>

        <script src="/static/scripts/changeimg.js"></script>

    <script>
    $(document).ready(() => {
        var editbuttons = document.querySelectorAll("#edit");
        var confirmbuttons = document.querySelectorAll("#confirm");
        var cancelbuttons = document.querySelectorAll("#cancel");

        editbuttons.forEach((editbutton) => {
                $(editbutton).click((e) => {
                    // e.preventDefault();

                    var parentDivision = editbutton.parentElement;
                    var parentDivisionClass = parentDivision.className.split(" ");
                    var allButtons = parentDivision.querySelectorAll("button");
                    allButtons.forEach((button) => {
                        $(button).toggleClass("activebutton");
                    });

                    if(parentDivisionClass[1] === "basicinfo") {
                        var spans = document.getElementById("basic").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    } else if(parentDivisionClass[1] === "photoinfo") {
                        var spans = document.getElementById("photo").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    } else if(parentDivisionClass[1] === "privateinfo") {
                        var spans = document.getElementById("security").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    } else if(parentDivisionClass[1] === "deleteinfo") {
                        var spans = document.getElementById("deleteAccount").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    }
                });
            });
    });
    </script>

    <script>
        // Script for file input (profile picture in this case) button and displaying the file name
        $(function() {
            // We can attach the `fileselect` event to all file inputs on the page
            $(document).on('change', ':file', function() {
                var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            // We can watch for our custom `fileselect` event like this
            $(document).ready( function() {
                $(':file').on('fileselect', function(event, numFiles, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                      log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if( input.length ) {
                      input.val(log);
                    } else {
                      if( log ) alert(log);
                    }
                });
            });
        });
    </script>

    <script>
        $(function(){
            $('pickBirthday').combodate({
                minYear: 1975,
                maxYear: 2013
            });
        });
    </script>

    <script src="/static/scripts/profileedit.js"></script>

    <script>
    $(function() {
      $('input[name="birthday"]').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        maxYear: parseInt(moment().format('YYYY'),10)
      }, function(start, end, label) {
        var years = moment().diff(start, 'years');
      });
    });
    </script>

    <script>
        // This sample uses the Autocomplete widget to help the user select a
        // place, then it retrieves the address components associated with that
        // place, and then it populates the form fields with those details.
        // This sample requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script
        // src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        var placeSearch, autocomplete;

        var componentForm = {
            street_number: 'short_name',
            route: 'long_name',
            locality: 'long_name',
            administrative_area_level_1: 'short_name',
            country: 'long_name',
            postal_code: 'short_name'
        };

        function initAutocomplete() {
            // Create the autocomplete object, restricting the search predictions to
            // geographical location types.
            autocomplete = new google.maps.places.Autocomplete(
                document.getElementById('autocomplete'), {types: ['geocode']});

            // Avoid paying for data that you don't need by restricting the set of
            // place fields that are returned to just the address components.
            autocomplete.setFields(['address_component']);

            // When the user selects an address from the drop-down, populate the
            // address fields in the form.
            autocomplete.addListener('place_changed', fillInAddress);
        }

        function fillInAddress() {
            // Get the place details from the autocomplete object.
            var place = autocomplete.getPlace();

            for (var component in componentForm) {
                document.getElementById(component).value = '';
                document.getElementById(component).disabled = false;
            }

            // Get each component of the address from the place details,
            // and then fill-in the corresponding field on the form.
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (componentForm[addressType]) {
                    var val = place.address_components[i][componentForm[addressType]];
                    document.getElementById(addressType).value = val;
                }
            }
        }

        // Bias the autocomplete object to the user's geographical location,
        // as supplied by the browser's 'navigator.geolocation' object.
        function geolocate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());
                });
            }
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%=googleMapAPI%>&libraries=places&callback=initAutocomplete" async defer></script>


    <% include ./partials/footer %>

    </body>
</html>
