<html>
    <head>
        <meta charset="utf-8">
        <title>Profile Page</title>

        <% include ./partials/header %>

    </head>
    <body>

        <% include ./partials/navbar %>

        <link rel="stylesheet" href="/static/stylesheets/profile.css">

        <div class="profile">
            <div class="tab">
                <div class="row top">
                    <div class="col-md-4">
                        <p class="setting">프로필</p>
                        <div class="menu">
                            <a href="#">정보</a>
                            <a href="#">보안</a>
                        </div>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col-md-4">
                        <img class="profileimg" src="https://www.stickpng.com/assets/images/585e4bf3cb11b227491c339a.png">
                        <p class="userName"><%= userInfo.name %>, (<%= userInfo.type %>)</p>
                        <a class="btn btn-primary form-control" href="#">사진 교체하기</a>
                    </div>
                    <div class="col-md-8">
                            <div class="row sections basic">
                                <p class="basictitle"><b>기본 정보</b></p>
                                <form id="basicinfoform" action="/user_profile" method="post">
                                </form>
                                <div class="buttons basicinfo">
                                    <button class="btn btn-info editbuttons activebutton" id="edit">편집</a>
                                    <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                    <button class="btn btn-info editbuttons" id="confirm" form="basicinfoform">확인</a>
                                </div>
                                <div class="divider"></div>
                                <!-- <div class="row element">
                                        <span><i class="fa fa-venus-mars" aria-hidden="true"></i><b>타입</b></span>
                                        <span class="answer switch active"><%= userInfo.type %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="type" value="<%= userInfo.type %>"></span>
                                </div> -->
                                <!-- <div class="row element">
                                        <span><i class="fa fa-globe" aria-hidden="true"></i><b>날짜</b></span>
                                        <input type="date" class="answer switch active" id="startDate">
                                        <span class="answer switch active"><%= userInfo.birthday %></span>
                                        <span class="switch"><input type="date" form="basicinfoform" class="form-control" name="birthday" value="<%= userInfo.birthday %>"></span>

                                </div> -->
                                
                                <div class="row element">
                                        <span><i class="fa fa-globe" aria-hidden="true"></i><b>생일</b></span>
                                        <span class="answer switch active"><%= userInfo.displayBirthday %></span>
                                        <span class="switch"><input type="date" form="basicinfoform" class="form-control" name="birthday" value="<%= userInfo.birthday %>"></span>

                                </div>
                                <div class="row element">
                                        <span><i class="fa fa-flag" aria-hidden="true"></i><b>주소</b></span>
                                        <span class="answer switch active"><%= userInfo.address %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="address" value="<%= userInfo.address %>"></span>

                                </div>
                                <div class="row element">
                                        <span><i class="fa fa-laptop" aria-hidden="true"></i><b>전화번호</b></span>
                                        <span class="answer switch active"><%= userInfo.phoneNumber %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="phoneNumber" value="<%= userInfo.phoneNumber %>"></span>
                                </div>
                                <!-- <div class="row element">
                                        <span><i class="fa fa-certificate" aria-hidden="true"></i><b>업종/전공</b></span>
                                        <span class="answer switch active"><%= userInfo.major %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="major" value="<%= userInfo.major %>"></span>
                                </div> -->
                        </div>

                        <div class="row sections">
                            <p class="basictitle"><b>서비스</b></p>
                            <form id="serviceform" action="/user_profile/language" method="post"></form>
                            <div class="buttons serviceinfo">
                                <button class="btn btn-info editbuttons activebutton" id="edit">편집</a>
                                <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                <button form="serviceform" class="btn btn-info editbuttons" id="confirm">확인</a>
                            </div>
                            <div class="divider"></div>
                            <select form="serviceform" name="service" id="inputState" class="form-control serviceselect">
                              <option selected>가능 서비스 선택...</option>
                              <option>현지 통역 서비스</option>
                              <option>현지 차량 서비스</option>
                              <option>현지 기관 서비스</option>
                            </select>
                                <div class="choice" id="translate">
                                    <p class="title">현지 통역 서비스<span class="exit">x</span></p>
                                </div>
                                <div class="choice" id="cars">
                                    <p class="title">현지 차량 서비스<span class="exit">x</span></p>
                                </div>
                                <div class="choice" id="agency">
                                    <p class="title">현지 기관 서비스<span class="exit">x</span></p>
                                </div>
                        </div>
                        <div class="row sections lang">
                            <p class="basictitle"><b>언어</b></p>
                            <form id="languageform" action="/user_profile/language" method="post"></form>
                            <div class="buttons languageinfo">
                                <button class="btn btn-info editbuttons activebutton" id="edit">편집</a>
                                <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                <button form="languageform" class="btn btn-info editbuttons" id="confirm">확인</a>
                            </div>
                            <div class="divider"></div>
                            <% if(typeof langinfo.langchoice == "string") { %>
                                <div class="row language">
                                    <span><b><%= langinfo.langchoice %></b></span>
                                    <span>
                                        <div class="percentage"
                                            style="width: <%= langinfo.langproficiency %>;
                                                    height: 100%;
                                                    background-color: rgb(208, 255, 151);
                                                    border-radius: 10px;"></div>
                                                    <%= langinfo.langproficiency %>
                                    </span>
                                </div>
                            <% } else { %>
                                <% for(var i = 0; i < langinfo.langchoice.length; i++) { %>
                                    <div class="row language">
                                        <span><b><%= langinfo.langchoice[i] %></b></span>
                                        <span>
                                            <div class="percentage"
                                                style="width: <%= langinfo.langproficiency[i] %>;
                                                        height: 100%;
                                                        background-color: rgb(208, 255, 151);
                                                        border-radius: 10px;"></div>
                                                        <%= langinfo.langproficiency[i] %>
                                        </span>
                                    </div>
                                <% } %>
                            <% } %>

                            <button class="btn btn-info addbutton">+ 언어 추가</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script>
        $(document).ready(() => {
            $(".menu").click((e) => {
                var menu = document.querySelector(".menu");
                var currentActive = menu.querySelector(".active");
                $(currentActive).toggleClass("active");
                $(e.target).toggleClass("active");
            });
        });
    </script>
    <script>
    $(document).ready(() => {
        var editbuttons = document.querySelectorAll("#edit");
        var confirmbuttons = document.querySelectorAll("#confirm");
        var cancelbuttons = document.querySelectorAll("#cancel");

        editbuttons.forEach((editbutton) => {
                $(editbutton).click((e) => {
                    // e.preventDefault();

                    var parentDivision = editbutton.parentElement;
                    var parentDivisionClass = parentDivision.className.split(" ");
                    var allButtons = parentDivision.querySelectorAll("button");
                    allButtons.forEach((button) => {
                        $(button).toggleClass("activebutton");
                    });

                    if(parentDivisionClass[1] === "basicinfo") {
                        var spans = document.querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    } else if(parentDivisionClass[1] === "languageinfo") {
                        $(".language").remove();

                        var langinfo = {
                            langchoice: '<%= langinfo.langchoice %>'.split(","),
                            langproficiency: '<%= langinfo.langproficiency %>'.split(",")
                        }

                        for(var i = 0; i < langinfo.langchoice.length; i++) {
                            $(".lang").append(manipulateAdd);
                            var langselect = $(".langselect");
                            var proficiency = $(".proficiency");

                            // for(var j = 0; j < langselect.length; j++)
                            // console.log(langselect.length);
                            for(var j = 0; j < langselect.length; j++) {
                                if(langselect[j].value === "") {
                                    langselect[j].value = langinfo.langchoice[i]
                                }
                            }
                            for(var j = 0; j < proficiency.length; j++) {
                                if(proficiency[j].value === "") {
                                    proficiency[j].value = langinfo.langproficiency[i]
                                }
                            }
                        }


                        var addbutton = $(".lang").find(".addbutton");
                        $(addbutton).toggleClass("addactive");

                        $(addbutton).off().click((e) => {
                            $(".lang").append(manipulateAdd());
                        });
                    }
                });
            });
    });
    </script>
    <script src="/static/scripts/profileedit.js"></script>
    </body>
</html>
