<html>
    <head>
        <meta charset="utf-8">
        <style>
            .btn-primary:hover {
                cursor: pointer;
                background-color: #00b3db !important;
                border-color: #00b3db !important;
            }
            /* #avatar{
                border-radius: 50%;
                width: 45px;
                height: 45px;
                background-size: cover;
                margin: 0;
                 position: absolute;
                 top: 50%;
                 -ms-transform: translateY(-50%);
                 transform: translate3d(-50%,-50%,0);
        
            } */
            .leftside, .rightside{
                width: 100%;
                /* border: 1px solid rgba(0, 0, 0, 0.5); */
                margin-bottom: 10px;
                z-index: 2;
        
            }
            #left{
              max-width: 25%;
            }
            #left, #right{
              height: 80px;
              padding: 10px;
            }
            #sliders a{
                text-decoration: none;
                color:black;
            }
            #wrapper{
              width: 50%;
              height: 550px;
              overflow-y:scroll;
              overflow-x: hidden;
              float:left;
              position: relative;
              margin:0;
              padding-left: 2.5%;
              padding-right: 2.5%;
        
            }
            #wrapper .row{
              border: 1px solid rgba(0, 0, 0, 0.3);
              width: 500px;
              text-align: center;
            }
            #wrapper h4{
              font-size: 20px;
        
            }
            #wrapper .row h7{
            color: rgba(0, 0, 0, 0.6)
            }
            #kokoman {
                width: 100%;
                height: 135px !important;
                background-size: cover;
            }

            #avatar {
                border-radius: 50%;
                width: 60px;
                height: 60px;
                background-size: cover;

                margin-bottom: 15px;
                transform: translate3d(0, -50%, 0);

            }
            #wrapper center{
              height: 40px;
            }
            .wrapper .col{
              width: 100%;
              height: 300px;
              border: 1px solid rgba(0, 0, 0, 0.5);
              margin-bottom: 10px;

              padding: 0;
              margin: 5px;
            }
            
        </style>
        <!-- <link rel="stylesheet" href="../static/stylesheets/findpartner.css"> -->
        
        <title>Member - 트렉스</title>

        <% include ./partials/header %>
        <script src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    </head>
    <body>

        <% include ./partials/proficiencychart %>

        <% include ./partials/navbar %>

        <link rel="stylesheet" href="/static/stylesheets/profile.css">

        <div class="profile">
            <div class="tab">
                <div class="row top">
                    <div class="col-12">
                        <p class="setting">저장된 파트너</p>
                        <div class="menu">
                            <a class="task_request_info" href="/user_profile/task_request_info">견적 요청 관리</a>
                            <a class="applicants_info" href="/user_profile/applicants_info">지원자 보기</a>
                            <% if (currentUser.messageNotification) { %>
                                <i class="fas fa-circle fa-xs" style="color:red;font-size:10px;margin-bottom:3px;"></i>
                                <a class="messages" href="/user_profile/messages">메세지</a>
                            <% } else { %>
                                <a class="messages" href="/user_profile/messages">메세지</a>
                            <% } %>
                            <a class="saved_partners profileactive" href="/user_profile/saved_partners">저장된 파트너</a>
                            <a class="accountinfo" href="/user_profile/account_info">계정관리</a>
                        </div>
                    </div>
                </div>
                <div class="row bottom" style="height:80%;">
                    <div class="col-md-4 col-12">
                        <% if (currentUser.companyLogo) { %>
                          <img class="profileimg" src="/logo/<%= currentUser.companyLogo %>">
                        <% } else { %>
                          <img class="profileimg" src="/static/images/nocompanylogo.jpeg">
                        <% } %>
                        <p class="userName"><%= currentUser.name %></p>
                    </div>
                    
                    <div class="col-md-8">
                        
                        
                        <!--  저장된 파트너  -->
                        <% if (error.length > 0) { %>
                          <span style="color:red;margin-left:70px;"><%= error %></span>
                        <% } %>
                            <div class="row sections basic" id="basic">
                                <p class="basictitle" style="width:100%;"><b>저장된 파트너</b></p>
                                
                                <div class="divider"></div>
                                
                                
                                
                                <div class="wrapper" id="wrapper" style="width: 100%; height: 620px; overflow-y:scroll;
                                  overflow-x: hidden; float:left; position: relative; margin:0;
                                  padding-left: 2.5%; padding-right: 2.5%;">

                                    <div id="sliders" style="display: block;">
                                        <% var i; %>
                                        <% for (i = 0; i < savedPartners.length; i++) { %>
                                            <% if (i%2 == 0) { %>
                                                <div class="row" style="margin:0; width: 100%; border: none;">
                                            <% } %>
                                            
                                            <div class="col">
                                                <a href="/partner_profile/<%= savedPartners[i]._id %>" class="slide-img">
                                                    <!-- <div id="kokoman"></div> -->
                                                    <% if (savedPartners[i].coverPhoto) { %>
                                                        <img id="kokoman" src="/coverPhoto/<%= savedPartners[i].coverPhoto %>">
                                                    <% } else { %>
                                                        <img id="kokoman" src="/static/images/slider/slider-4-montreal.jpg">
                                                    <% } %>
                                                    <center>
                                                        <% if (savedPartners[i].profilePic) { %>
                                                            <img id="avatar" src="/profilePic/<%= savedPartners[i].profilePic %>">
                                                        <% } else { %>
                                                            <img id="avatar" src="/static/images/noprofilepic.jpeg">
                                                        <% } %>
                                                    </center>
                                                    <h5><%= savedPartners[i].name %></h5>
                                                    <div style="font-size: 24px;"><i class="fas fa-award"></i></div>
                                                    <h7>
                                                        <% if (savedPartners[i].address.city) { %>
                                                            <%= savedPartners[i].address.city %>, <%= savedPartners[i].address.country %>
                                                        <% } %>
                                                    </h7>
                                                </a>
                                            </div>

                                            <% if (i%2 == 1) { %>
                                                </div>
                                            <% } %>
                                        <% } %>

                                        <% if (i%2 == 1) { %>
                                            <div class="col" style="border: none;"></div>
                                            </div>
                                        <% } %>
                                        
                                    </div>
                                    
                                </div>
                                
                                
                                
                                <!-- <% for (var i = 0; i < savedPartners.length; i ++) { %>
                                    <a href="/partner_profile/<%= savedPartners[i]._id %>" style="color:black;">
                                        <%= savedPartners[i].name %>
                                    </a>
                                <% } %> -->
                                
                                
                            </div>
                    </div>
                </div>
            </div>
        </div>

    <script>
    $(document).ready(() => {
        var editbuttons = document.querySelectorAll("#edit");
        var confirmbuttons = document.querySelectorAll("#confirm");
        var cancelbuttons = document.querySelectorAll("#cancel");

        editbuttons.forEach((editbutton) => {
                $(editbutton).click((e) => {
                    // e.preventDefault();

                    var parentDivision = editbutton.parentElement;
                    var parentDivisionClass = parentDivision.className.split(" ");
                    var allButtons = parentDivision.querySelectorAll("button");
                    allButtons.forEach((button) => {
                        $(button).toggleClass("activebutton");
                    });

                    if(parentDivisionClass[1] === "basicinfo") {
                        var spans = document.getElementById("basic").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    } else if(parentDivisionClass[1] === "photoinfo") {
                        var spans = document.getElementById("photo").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    } else if(parentDivisionClass[1] === "privateinfo") {
                        var spans = document.getElementById("security").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    }
                });
            });
    });
    </script>

    <script>
        // Script for file input (profile picture in this case) button and displaying the file name
        $(function() {
            // We can attach the `fileselect` event to all file inputs on the page
            $(document).on('change', ':file', function() {
                var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            // We can watch for our custom `fileselect` event like this
            $(document).ready( function() {
                $(':file').on('fileselect', function(event, numFiles, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                      log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if( input.length ) {
                      input.val(log);
                    } else {
                      if( log ) alert(log);
                    }
                });
            });
        });
    </script>

    <script src="/static/scripts/profileedit.js"></script>

    <% include ./partials/footer %>

    </body>
</html>