<html>
    <head>
        <meta charset="utf-8">
        <title>Member - 트렉스</title>

        <% include ./partials/header %>

    </head>
    <body>

        <% include ./partials/proficiencychart %>

        <% include ./partials/navbar %>

        <% include ./partials/navbar %>

        <link rel="stylesheet" href="/static/stylesheets/profile.css">

        <div class="profile">
            <div class="tab">
                <div class="row top">
                    <div class="col-md-4 col-12">
                        <p class="setting">클라이언트 계정 관리</p>
                        <div class="menu">
                            <a class="publicinfo active" href="#">일반</a>
                            <a class="privateinfo" href="#">보안</a>
                        </div>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col-md-4 col-12">
                        <% if (currentUser.pic) { %>
                          <img class="profileimg" src="/image/<%= currentUser.pic %>">
                        <% } else { %>
                          <img class="profileimg" src="/static/images/noprofilepic.jpeg">
                        <% } %>
                        <p class="userName"><%= accountInfo.name %></p>
                    </div>
                    <div class="col-md-8">
                      <% if (error.length > 0) { %>
                        <span style="color:red;margin-left:70px;"><%= error %></span>
                      <% } %>
                            <div class="row sections basic" id="basic">
                                <p class="basictitle"><b>기본 정보</b></p>
                                <form id="basicinfoform" action="/user_profile/basicClientInfo" method="post">
                                </form>
                                <div class="buttons basicinfo">
                                    <button class="btn btn-info editbuttons activebutton" id="edit">편집</a>
                                    <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                    <button class="btn btn-info editbuttons" id="confirm" form="basicinfoform">확인</a>
                                </div>
                                <div class="divider"></div>

                                <div class="row element">
                                        <span><i class="fa fa-calendar" aria-hidden="true"></i><b>생일</b></span>
                                        <span class="answer switch active"><%= accountInfo.displayBirthday %></span>
                                        <span class="switch"><input type="date" form="basicinfoform" class="form-control" name="birthday" value="<%= accountInfo.birthday %>"></span>

                                    </div>
                                    <div class="row element">
                                            <span><i class="fa fa-globe" aria-hidden="true"></i><b>주소</b></span>
                                            <span class="answer switch active"><%= accountInfo.address.streetAddress %></span>
                                            <span class="switch"><input form="basicinfoform" class="form-control" name="streetAddress" value="<%= accountInfo.address.streetAddress %>"></span>
                                    </div>
                                    <div class="row element">
                                            <span style="padding-left:82px;"><b>도시</b></span>
                                            <span class="answer switch active"><%= accountInfo.address.city %></span>
                                            <span class="switch"><input form="basicinfoform" class="form-control" name="city" value="<%= accountInfo.address.city %>"></span>
                                    </div>
                                    <div class="row element">
                                            <span style="padding-left:82px;"><b>나라</b></span>
                                            <span class="answer switch active"><%= accountInfo.address.country %></span>
                                            <span class="switch"><input form="basicinfoform" class="form-control" name="country" value="<%= accountInfo.address.country %>"></span>
                                    </div>
                                    <div class="row element">
                                            <span style="padding-left:82px;"><b>우편번호</b></span>
                                            <span class="answer switch active"><%= accountInfo.address.postalCode %></span>
                                            <span class="switch"><input form="basicinfoform" class="form-control" name="postalCode" value="<%= accountInfo.address.postalCode %>"></span>
                                    </div>
                                    <div class="row element">
                                            <span><i class="fa fa-phone" aria-hidden="true"></i><b>전화번호</b></span>
                                            <span class="answer switch active"><%= accountInfo.phoneNumber %></span>
                                            <span class="switch"><input form="basicinfoform" class="form-control" name="phoneNumber" value="<%= accountInfo.phoneNumber %>"></span>
                                    </div>
                            </div>

                            <div class="row sections photo" id="photo">
                                <p class="basictitle"><b>프로필 사진</b></p>
                                <form id="changePic" action="/user_profile/profilePicUpload_client" method="post" enctype="multipart/form-data"></form>
                                <form id="defaultPic" action="/user_profile/deleteClientProfilePic?_method=DELETE" method="post"></form>
                                <div class="buttons photoinfo">
                                    <button class="btn btn-info editbuttons activebutton" id="edit" style="width:90px;">교체하기</a>
                                    <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                    <button class="btn btn-info editbuttons" id="confirm" form="changePic">교체</a>
                                    <button form="defaultPic" class="btn btn-secondary editbuttons">기본 사진 사용하기</button>
                                </div>
                                <div class="divider"></div>
                                <div class="row element">
                                    <span class="switch">
                                      <input form="changePic" type="file" name="profilePic" accept="image/*" required>
                                      <!-- <button form="defaultPic" class="switch btn btn-secondary">기본 사진 사용하기</button> -->
                                    </span>
                                </div>
                                <div class="row element">
                                  <span class="switch">
                                    <font size=2>이미지 사이즈는 150x150px로 맞춰주세요.<br></font>
                                    <font size=2 style="margin-left:52px;">웃는 얼굴이 잘 나온 사진일수록 업무 요청이 증가합니다!</font>
                                  </span>
                                </div>
                            </div>
                            
                        </div>

                        <div class="todisplay privateinfo">
                            <div class="row sections security" id="security">
                                <p class="basictitle"><b>보안 정보</b></p>
                                <form id="privateinfoform" action="/user_profile/security" method="post">
                                </form>
                                <div class="buttons privateinfo">
                                    <button class="btn btn-info editbuttons activebutton" id="edit">비밀번호 변경</a>
                                    <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                    <button class="btn btn-info editbuttons" id="confirm" form="privateinfoform">확인</a>
                                </div>
                                <div class="divider"></div>
                                <div class="row element">
                                        <span class="switch active"><i class="fa fa-lock" aria-hidden="true"></i><b>비밀번호</b></span>
                                        <span class="answer switch active">********</span>
                                        <span class="currentpassword switch"><i class="fa fa-lock" aria-hidden="true"></i><b>현재 비밀번호</b></span>
                                        <span class="switch"><input form="privateinfoform" type="password" class="form-control" name="currentPassword"></span>
                                </div>
                                <div class="row element">
                                        <span class="switch"><i class="fa fa-lock" aria-hidden="true"></i><b>새 비밀번호</b></span>
                                        <span class="switch"><input form="privateinfoform" type="password" class="form-control" name="currentPassword"></span>
                                </div>
                                <div class="row element">
                                        <span class="switch"><i class="fa fa-lock" aria-hidden="true"></i><b>새 비밀번호 확인</b></span>
                                        <span class="switch"><input form="privateinfoform" type="password" class="form-control" name="currentPassword"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script>
        $(document).ready(() => {
            $(".menu").click((e) => {
                e.preventDefault();


                if($(e.target).hasClass("publicinfo") && !$(e.target).hasClass("active")) {
                    var menu = document.querySelector(".menu");
                    var currentActive = menu.querySelector(".active");
                    $(currentActive).toggleClass("active");
                    $(e.target).toggleClass("active");

                    $(".publicinfo").toggleClass("profileactive");
                    $(".privateinfo").toggleClass("profileactive");
                }
                else if($(e.target).hasClass("privateinfo") && !$(e.target).hasClass("active")){
                    var menu = document.querySelector(".menu");
                    var currentActive = menu.querySelector(".active");
                    $(currentActive).toggleClass("active");
                    $(e.target).toggleClass("active");

                    $(".publicinfo").toggleClass("profileactive");
                    $(".privateinfo").toggleClass("profileactive");
                }
            });
        });
    </script>
    <script>
    $(document).ready(() => {
        var editbuttons = document.querySelectorAll("#edit");
        var confirmbuttons = document.querySelectorAll("#confirm");
        var cancelbuttons = document.querySelectorAll("#cancel");

        editbuttons.forEach((editbutton) => {
                $(editbutton).click((e) => {
                    // e.preventDefault();

                    var parentDivision = editbutton.parentElement;
                    var parentDivisionClass = parentDivision.className.split(" ");
                    var allButtons = parentDivision.querySelectorAll("button");
                    allButtons.forEach((button) => {
                        $(button).toggleClass("activebutton");
                    });

                    if(parentDivisionClass[1] === "basicinfo") {
                        var spans = document.getElementById("basic").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    } else if(parentDivisionClass[1] === "photoinfo") {
                        var spans = document.getElementById("photo").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    } else if(parentDivisionClass[1] === "privateinfo") {
                        var spans = document.getElementById("security").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    }
                });
            });
    });
    </script>
    <script src="/static/scripts/profileedit.js"></script>
    <% include ./partials/footer %>
    </body>
</html>
