<html>
    <head>
        <meta charset="utf-8">
        <style>
            .showBttn {
                display: inline !important;
            }
            .btn-primary {
                /* display: inline !important; */
                background-color:#f58b44 !important;
                border-color:#f58b44 !important;
            }
            .btn-primary:hover {
                cursor: pointer;
                /* background-color: #00b3db !important;
                border-color: #00b3db !important; */
                opacity: 0.9;
            }
            a:hover {
                cursor: pointer;
            }
            #avatar{
                border-radius: 50%;
                width: 45px;
                height: 45px;
                background-size: cover;
                margin: 0;
                 position: absolute;
                 top: 50%;
                 -ms-transform: translateY(-50%);
                 transform: translate3d(-50%,-50%,0);

            }
            .leftside, .rightside{
                width: 100%;
                /* border: 1px solid rgba(0, 0, 0, 0.5); */
                margin-bottom: 10px;
                z-index: 2;

            }
            #left{
              max-width: 25%;
            }
            #left, #right{
              height: 80px;
              padding: 10px;
            }
            #sliders a{
                text-decoration: none;
                color:black;
            }
            #wrapper{
              width: 50%;
              height: 550px;
              overflow-y:scroll;
              overflow-x: hidden;
              float:left;
              position: relative;
              margin:0;
              padding-left: 2.5%;
              padding-right: 2.5%;

            }
            #wrapper .row{
              border: 1px solid rgba(0, 0, 0, 0.3);
              width: 500px;
            }
            #wrapper h4{
              font-size: 20px;

            }
        </style>

        <title>Member - 트렉스</title>

        <% include ./partials/header %>

    </head>
    <body>

        <% include ./partials/profileedit-image %>
        <% include ./partials/profileedit-background %>

        <% include ./partials/navbar %>

        <link rel="stylesheet" href="/static/stylesheets/profile.css">

        <div class="profile">
            <div class="tab">
                <div class="row top">
                    <div class="col-12">
                        <p class="setting">프로필 관리</p>
                        <div class="menu">
                            <a class="partnerprofileinfo profileactive" href="/user_profile/partnerProfile">프로필 관리</a>
                            <a class="taskreservationinfo" href="/user_profile/tasks">업무 예약 관리</a>
                            <a class="scheduleinfo" href="/user_profile/schedule">일정 관리</a>
                            <% if (currentUser.messageNotification) { %>
                                <i class="fas fa-circle fa-xs" style="color:red;font-size:10px;margin-bottom:3px;"></i>
                                <a class="messages" href="/user_profile/messages">메세지</a>
                            <% } else { %>
                                <a class="messages" href="/user_profile/messages">메세지</a>
                            <% } %>
                            <a class="paymentinfo" href="/user_profile/payment_info">정산 계좌 등록</a>
                            <a class="accountinfo" href="/user_profile/account_info">계정관리</a>
                        </div>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col-md-4 col-12" style="padding:0% 0% 0% 5.2%;">
                        <div class="backgroundimg">
                            <% if (currentUser.coverPhoto) { %>
                                <img id="kokoman" src="/coverPhoto/<%= currentUser.coverPhoto %>">
                            <% } else { %>
                                <img id="kokoman" src="/static/images/slider/slider-4-montreal.jpg">
                            <% } %>
                            <div class="changefade">
                                배경 사진 바꾸기
                                <span class="camera"></span>
                            </div>
                        </div>

                        <div class="mainimg">
                            <% if (currentUser.profilePic) { %>
                                <img class="profileimg" src="/profilePic/<%= currentUser.profilePic %>">
                            <% } else { %>
                                <img class="profileimg" src="/static/images/noprofilepic.jpeg">
                            <% } %>
                                <div class="changeslider">
                                    사진 바꾸기<br/>
                                    <span class="camera"></span>
                                </div>
                        </div>

                        <p class="userName"><%= currentUser.name %></p>
                    </div>

                    <div class="col-md-8">
                        <!-- 프로필 관리 -->

                            <% if (error.length > 0) { %>
                              <span style="color:red;margin-left:70px;"><%= error %></span>
                            <% } %>

                            <% if (!partnerProfile) { %>
                                <a href="/user_profile/edit_partner_resume" style="float:right; margin-right:5%;">
                                    <button class="btn btn-primary">프로필 등록</button>
                                </a>

                                <div class="row sections basic" id="basic">

                                    <p class="basictitle"><b>파트너 프로필</b></p>

                                    <div class="divider"></div>

                                    파트너 프로필이 등록되어 있지 않습니다. 새로운 프로필을 등록해주세요.

                                </div>
                            <% } else { %>
                                <a href="/user_profile/edit_partner_resume" style="float:right; margin-right:5%;">
                                    <button class="btn btn-primary">프로필 수정</button>
                                </a>

                                <div class="row sections basic" id="basic">

                                    <p class="basictitle"><b>파트너 프로필</b></p>

                                    <div class="divider"></div>

                                    <% if (partnerProfile.isVerified) { %>
                                        <div class="alert alert-success" role="alert" style="width:100%;padding-top:2px;padding-bottom:2px;">
                                            이 프로필은 검증된 프로필입니다.
                                        </div>
                                    <% } else { %>
                                        <div class="alert alert-danger" role="alert" style="width:100%;padding-top:2px;padding-bottom:2px;">
                                            이 프로필은 아직 검증된 프로필이 아닙니다.
                                        </div>
                                    <% } %>
                                    
                                    
                                    <div class="col-sm-4">
                                        <label><b>한줄 소개:</b></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <%= partnerProfile.oneLineIntro %>
                                    </div>
                                    
                                    <div class="col-sm-4">
                                        <label><b>지역:</b></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <%= partnerProfile.region %>
                                    </div>
                                    
                                    <div class="col-sm-4">
                                        <label><b>타지역:</b></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <% if (partnerProfile.otherRegion.length > 0) { %>
                                            <% for (var i = 0; i < partnerProfile.otherRegion.length; i++) { %>
                                                <%= partnerProfile.otherRegion[i] %>
                                                <% if (i < partnerProfile.otherRegion.length-1) { %>
                                                     , 
                                                <% } %>
                                            <% } %>
                                        <% } else { %>
                                            타지역 업무 불가능
                                        <% } %>
                                    </div>
                                    
                                    <div class="col-sm-4">
                                        <label><b>자기 소개:</b></label>
                                    </div>
                                    <div class="col-sm-8">
                                        <%= partnerProfile.aboutMe %>
                                    </div>
                                    
                                    
                                    
                                    <% if (partnerProfile.type == "agency") { %>
                                        <div class="divider"></div>
                                        <div class="col-sm-3">사업자 등록증</div><div class="col-sm-9"></div>
                                        <div class="row" style="margin-bottom:50px;width:100%;">
                                            <% for (var i = 0; i < partnerProfile.businessRegistration.length; i++) { %>
                                                <form id="deleteForm<%= i %>" action="/user_profile/deleteBusinessRegistration/<%= partnerProfile.businessRegistration[i] %>?_method=DELETE" method="post"></form>
                                                <div class="col">
                                                    <a data-toggle="modal" data-target="#imageModal<%= i %>">
                                                        <img src="/businessRegistration/<%= partnerProfile.businessRegistration[i] %>" style="width:150px;height:225px;">
                                                    </a>
                                                    <div class="modal fade" id="imageModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="imageModalTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="imageModalLongTitle">사업자 등록증 삭제</h5>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    이 사업자 등록증을 삭제 하시겠습니까?
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary showBttn" data-dismiss="modal">취소</button>
                                                                    <!-- <a href="/user_profile/deleteBusinessRegistration/" class="btn btn-danger showBttn">삭제</a> -->
                                                                    <button form="deleteForm<%= i %>" class="btn btn-danger showBttn">삭제</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                        <% if (partnerProfile.businessRegistration.length < 3) { %>
                                            <div class="col-sm-8">
                                                <form id="businessRegistrationForm" action="/user_profile/businessRegistrationUpload" method="post" enctype="multipart/form-data">
                                                    <div class="input-group">
                                                        <label class="input-group-btn">
                                                            <span class="btn btn-primary showBttn">
                                                                검색<input type="file" name="businessRegistration" accept="image/*" multiple="multiple" style="display:none;" required />
                                                            </span>
                                                        </label>
                                                        <input type="text" class="form-control" value="사업자 등록증을 업로드 해주세요." readonly>
                                                    </div>
                                                    <font size=2>파일은 사진으로만 업로드 해주세요 (.png, .jpg, .jpeg)<br>최대 총 3개까지 업로드 가능합니다.</font>
                                                </form>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="submit" form="businessRegistrationForm" value="사업자 등록증 업로드" class="btn btn-primary btn-block showBttn">
                                            </div>
                                        <% } %>
                                        
                                        <!-- Display partner's uploaded files -->
                                        
                                        
                                    <% } %> <!-- end of for loop -->
                                    
                                    <div class="divider"></div>
                                    
                                    <div class="col-sm-7">미디어 (이력서, 자격증 등)</div><div class="col-sm-5"></div>
                                    <div class="row" style="margin-bottom:50px;width:100%;">
                                        <% for (var i = 0; i < partnerProfile.media.length; i++) { %>
                                            <form id="deleteMediaForm<%= i %>" action="/user_profile/deleteMedia/<%= partnerProfile.media[i] %>?_method=DELETE" method="post"></form>
                                            <div class="col">
                                                <a data-toggle="modal" data-target="#mediaModal<%= i %>">
                                                    <img src="/media/<%= partnerProfile.media[i] %>" style="width:150px;height:225px;">
                                                </a>
                                                <div class="modal fade" id="mediaModal<%= i %>" tabindex="-1" role="dialog" aria-labelledby="mediaModalTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="mediaModalLongTitle">미디어 삭제</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                이 미디어를 삭제 하시겠습니까?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary showBttn" data-dismiss="modal">취소</button>
                                                                <!-- <a href="/user_profile/deleteBusinessRegistration/" class="btn btn-danger showBttn">삭제</a> -->
                                                                <button form="deleteMediaForm<%= i %>" class="btn btn-danger showBttn">삭제</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% } %>
                                    </div>
                                    <% if (partnerProfile.media.length < 3) { %>
                                        <div class="col-sm-8">
                                            <form id="mediaForm" action="/user_profile/mediaUpload" method="post" enctype="multipart/form-data">
                                                <div class="input-group">
                                                    <label class="input-group-btn">
                                                        <span class="btn btn-primary showBttn">
                                                            검색<input type="file" name="media" accept="image/*" multiple="multiple" style="display:none;" required />
                                                        </span>
                                                    </label>
                                                    <input type="text" class="form-control" value="파일 업로드" readonly>
                                                </div>
                                                <font size=2>업로드 가능 파일 형식: (.png, .jpg, .jpeg)<br>최대 총 3개까지 업로드 가능합니다.</font>
                                            </form>
                                        </div>
                                    <% } %>
                                    <div class="col-sm-4">
                                        <input type="submit" form="mediaForm" value="파일 업로드" class="btn btn-primary btn-block showBttn">
                                    </div>
                                    
                                    <!-- Display partner's uploaded files -->
                                    
                                    
                                    
                                </div> <!-- class="row sections basic" -->

                            <% } %>




                    </div>
                </div>
            </div>
        </div>

        <script src="/static/scripts/changeimg.js"></script>

    <script>
    $(document).ready(() => {
        var editbuttons = document.querySelectorAll("#edit");
        var confirmbuttons = document.querySelectorAll("#confirm");
        var cancelbuttons = document.querySelectorAll("#cancel");

        editbuttons.forEach((editbutton) => {
                $(editbutton).click((e) => {
                    // e.preventDefault();

                    var parentDivision = editbutton.parentElement;
                    var parentDivisionClass = parentDivision.className.split(" ");
                    var allButtons = parentDivision.querySelectorAll("button");
                    allButtons.forEach((button) => {
                        $(button).toggleClass("activebutton");
                    });

                    if(parentDivisionClass[1] === "basicinfo") {
                        var spans = document.getElementById("basic").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    }  else if(parentDivisionClass[1] === "photoinfo") {
                        var spans = document.getElementById("photo").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    } else if(parentDivisionClass[1] === "privateinfo") {
                        var spans = document.getElementById("security").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    }
                });
            });
    });
    </script>
    
    <script>
        // Script for file input (사업자등록증 / 미디어 in this case) button and displaying the file name
        $(function() {
            // We can attach the `fileselect` event to all file inputs on the page
            $(document).on('change', ':file', function() {
                var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });
            // We can watch for our custom `fileselect` event like this
            $(document).ready( function() {
                $(':file').on('fileselect', function(event, numFiles, label) {
                    
                    <% if(partnerProfile.businessRegistration) { %>
                        if (numFiles > (2 - <%= partnerProfile.businessRegistration.length %>)){
                            alert("최대 총 2개의 파일까지만 업로드 할수 있습니다.");
                        } else {
                            var input = $(this).parents('.input-group').find(':text'),
                                log = numFiles > 1 ? numFiles + '개의 파일 선택됨' : label;
                            if( input.length ) {
                                input.val(log);
                            } else {
                                if( log ) alert(log);
                            }
                        }
                    <% } else { %>
                        if (numFiles > 2){
                            alert("최대 총 2개의 파일까지만 업로드 할수 있습니다.");
                        } else {
                            var input = $(this).parents('.input-group').find(':text'),
                                log = numFiles > 1 ? numFiles + '개의 파일 선택됨' : label;
                            if( input.length ) {
                                input.val(log);
                            } else {
                                if( log ) alert(log);
                            }
                        }
                    <% } %>
                    
                    // var input = $(this).parents('.input-group').find(':text'),
                    //   log = numFiles > 1 ? numFiles + ' files selected' : label;
                    //
                    // if( input.length ) {
                    //   input.val(log);
                    // } else {
                    //   if( log ) alert(log);
                    // }
                });
            });
        });
    </script>

    <script src="/static/scripts/profileedit.js"></script>

    <% include ./partials/footer %>

    </body>
</html>
