<html>
    <head>
        <meta charset="utf-8">
        <style>
            .btn-primary:hover {
                cursor: pointer;
                background-color: #00b3db !important;
                border-color: #00b3db !important;
            }
            #avatar{
                border-radius: 50%;
                width: 45px;
                height: 45px;
                background-size: cover;
                margin: 0;
                 position: absolute;
                 top: 50%;
                 -ms-transform: translateY(-50%);
                 transform: translate3d(-50%,-50%,0);
        
            }
            .leftside, .rightside{
                width: 100%;
                /* border: 1px solid rgba(0, 0, 0, 0.5); */
                margin-bottom: 10px;
                z-index: 2;
        
            }
            #left{
              max-width: 25%;
            }
            #left, #right{
              height: 80px;
              padding: 10px;
            }
            #sliders a{
                text-decoration: none;
                color:black;
            }
            #wrapper{
              width: 50%;
              height: 550px;
              overflow-y:scroll;
              overflow-x: hidden;
              float:left;
              position: relative;
              margin:0;
              padding-left: 2.5%;
              padding-right: 2.5%;
        
            }
            #wrapper .row{
              border: 1px solid rgba(0, 0, 0, 0.3);
              width: 500px;
            }
            #wrapper h4{
              font-size: 20px;
        
            }
        </style>
        
        <title>Member - 트렉스</title>

        <% include ./partials/header %>

    </head>
    <body>

        <% include ./partials/proficiencychart %>

        <% include ./partials/navbar %>

        <link rel="stylesheet" href="/static/stylesheets/profile.css">

        <div class="profile">
            <div class="tab">
                <div class="row top">
                    <div class="col-12">
                        <p class="setting">파트너 계정 관리</p>
                        <div class="menu">
                            <a class="partnerprofileinfo profileactive" href="#partnerprofileinfo">프로필 관리</a>
                            <a class="taskrequestinfo" href="#taskrequestinfo">업무 예약 관리</a>
                            <a class="scheduleinfo" href="#scheduleinfo">일정 관리</a>
                            <a class="messages" href="#messages">메세지</a>
                            <a class="paymentinfo" href="#paymentinfo">정산 계좌 등록</a>
                            <a class="accountinfo" href="#accountinfo">계정관리</a>
                        </div>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col-md-4 col-12">
                        <% if (currentUser.profilePic) { %>
                          <img class="profileimg" src="/profilePic/<%= currentUser.profilePic %>">
                        <% } else { %>
                          <img class="profileimg" src="/static/images/noprofilepic.jpeg">
                        <% } %>
                        <p class="userName"><%= accountInfo.name %></p>
                    </div>
                    
                    <div class="col-md-8">
                        <!-- 프로필 관리 -->
                        <div class="todisplay" id="partnerprofileinfo">
                        
                            <% if (error_profile.length > 0) { %>
                              <span style="color:red;margin-left:70px;"><%= error_profile %></span>
                            <% } %>
                            
                            <% if (currentUser.partnerProfile === "") { %>
                                <div class="text-right">
                                    <a href="edit_partner_resume"class="btn btn-primary" role="button">프로필 등록</a>
                                </div>
                            <% } else { %>
                                <div class="text-right">
                                    <a href="edit_partner_resume"class="btn btn-primary" role="button">프로필 수정</a>
                                </div>
                            <% } %>
                            
                            
                            <!-- /////////////////////////////////// -->
                            
                            <div class="wrapper" id="wrapper" style="width: 100%; height: 550px; overflow-y:scroll;
                              overflow-x: hidden; float:left; position: relative; margin:0;
                              padding-left: 2.5%; padding-right: 2.5%;">
                                <div id="sliders">
                                    <% for (var i = 0; i < messages.length; i++) { %>
                                            <a href="/message_room/<%=messages[i].id%>">
                                                <div class="row" id="formore" style="margin-bottom: 10px; margin-top: 50px; cursor: pointer;">
                                                    <div class="col" id="left">
                                                        <div class="leftside">
                                                            <center>
                                                                <% if (messages[i].clientPic) { %>
                                                                  <img id="avatar" src="/logo/<%= messages[i].clientPic %>">
                                                                <% } else { %>
                                                                  <img id="avatar" src="/static/images/noprofilepic.jpeg">
                                                                <% } %>
                                                            </center>
                                                        </div>
                                                    </div>
                                                    <div class="col" id="right">
                                                        <div class="rightside">
                                                            <div class="text-left">
                                                                <h4><%= messages[i].clientName %></h4>
                                                            </div>
                                                            <div class="text-left">
                                                                <span class="body-trex">
                                                                    <%= messages[i].detail[[messages[i].detail.length-1]].content %><br>
                                                                    <font size=1><%= messages[i].detail[[messages[i].detail.length-1]].time %></font>
                                                                    <span style="font-size: 35px; float: right; transform: translate3d(0, -50% ,0)">
                                                                        <i class="fas fa-angle-right"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                    <%  } %>
                                </div>
                            </div>
                            
                            <!-- /////////////////////////////////// -->
                            
                            
                            <!-- <div class="row sections">
                                <p class="basictitle"><b>서비스</b></p>
                                <form id="serviceform" action="/user_profile/language" method="post"></form>
                                <div class="buttons serviceinfo">
                                    <button class="btn btn-info editbuttons activebutton" id="edit">편집</a>
                                    <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                    <button form="serviceform" class="btn btn-info editbuttons" id="confirm">확인</a>
                                </div>
                                <div class="divider"></div>
                                <select form="serviceform" name="service" id="inputState" class="form-control serviceselect">
                                  <option selected>가능 서비스 선택...</option>
                                  <option>현지 통역 서비스</option>
                                  <option>현지 차량 서비스</option>
                                  <option>현지 기관 서비스</option>
                                </select>
                                    <div class="choice" id="translate">
                                        <p class="title">현지 통역 서비스<span class="exit">x</span></p>
                                    </div>
                                    <div class="choice" id="cars">
                                        <p class="title">현지 차량 서비스<span class="exit">x</span></p>
                                    </div>
                                    <div class="choice" id="agency">
                                        <p class="title">현지 기관 서비스<span class="exit">x</span></p>
                                    </div>
                            </div> -->

                            <!-- <div class="row sections lang">
                                <p class="basictitle"><b>언어</b></p>
                                <form id="languageform" action="/user_profile/language" method="post"></form>
                                <div class="buttons languageinfo">
                                    <button class="btn btn-info editbuttons activebutton" id="edit">편집</a>
                                    <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                    <button form="languageform" class="btn btn-info editbuttons" id="confirm">확인</a>
                                </div>
                                <div class="divider"></div>
                                <a href="#" id="chartdisplay" class="proficiencychart" style="color:#f8ba00;">구사 능력 기준 보기</a>
                                <% if(typeof langinfo.langchoice == "string") { %>
                                    <div class="row language">
                                        <span><b><%= langinfo.langchoice %></b></span>
                                        <span>
                                            <div class="percentage"
                                                style="width: <%= langinfo.langproficiency %>;
                                                        max-width: 100%;
                                                        height: 100%;
                                                        background-color: rgb(208, 255, 151);
                                                        border-radius: 10px;"></div>
                                                        <%= langinfo.langproficiency %>
                                        </span>
                                    </div>
                                <% } else if(Array.isArray(langinfo.langchoice)) { %>
                                    <% for(var i = 0; i < langinfo.langchoice.length; i++) { %>
                                        <div class="row language">
                                            <span><b><%= langinfo.langchoice[i] %></b></span>
                                            <span>
                                                <div class="percentage"
                                                    style="width: <%= langinfo.langproficiency[i] %>;
                                                            max-width: 100%;
                                                            height: 100%;
                                                            background-color: rgb(208, 255, 151);
                                                            border-radius: 10px;"></div>
                                                            <%= langinfo.langproficiency[i] %>
                                            </span>
                                        </div>
                                    <% } %>
                                <% } %>

                                <button class="btn btn-info addbutton">+ 언어 추가</button>
                            </div> -->
                        </div>
                        
                        
                        
                        <div class="todisplay" id="messages">
                          <% if (error.length > 0) { %>
                            <span style="color:red;margin-left:70px;"><%= error %></span>
                          <% } %>
                            <% if (error_messages.length > 0) { %>
                              <span style="color:red;margin-left:70px;"><%= error_messages %></span>
                            <% } %>
                            
                            
                            
                        </div>



                        <div class="todisplay" id="accountinfo">
                          <% if (error.length > 0) { %>
                            <span style="color:red;margin-left:70px;"><%= error %></span>
                          <% } %>
                            <div class="row sections basic" id="basic">
                                <p class="basictitle"><b>기본 정보</b></p>
                                <form id="basicinfoform" action="/user_profile/basicPartnerInfo" method="post"></form>
                                <div class="buttons basicinfo">
                                    <button class="btn btn-info editbuttons activebutton" id="edit">편집</a>
                                    <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                    <button class="btn btn-info editbuttons" id="confirm" form="basicinfoform">확인</a>
                                </div>
                                <div class="divider"></div>

                                <div class="row element">
                                        <span><i class="fa fa-birthday-cake" aria-hidden="true"></i><b>생일</b></span>
                                        <span class="answer switch active"><%= accountInfo.displayBirthday %></span>
                                        <span class="switch"><input type="date" form="basicinfoform" class="form-control" name="birthday" value="<%= accountInfo.birthday %>"></span>

                                </div>
                                <div class="row element">
                                        <span><i class="fa fa-building" aria-hidden="true"></i><b>주소</b></span>
                                        <span class="answer switch active"><%= accountInfo.address.streetAddress %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="streetAddress" value="<%= accountInfo.address.streetAddress %>"></span>
                                </div>
                                <div class="row element">
                                        <span><i class="fa fa-map" aria-hidden="true"></i><b>도시</b></span>
                                        <span class="answer switch active"><%= accountInfo.address.city %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="city" value="<%= accountInfo.address.city %>"></span>
                                </div>
                                <div class="row element">
                                        <span><i class="fa fa-globe" aria-hidden="true"></i><b>나라</b></span>
                                        <span class="answer switch active"><%= accountInfo.address.country %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="country" value="<%= accountInfo.address.country %>"></span>
                                </div>
                                <div class="row element">
                                        <span><i class="fa fa-envelope" aria-hidden="true"></i><b>우편번호</b></span>
                                        <span class="answer switch active"><%= accountInfo.address.postalCode %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="postalCode" value="<%= accountInfo.address.postalCode %>"></span>
                                </div>
                                <div class="row element">
                                        <span><i class="fa fa-phone" aria-hidden="true"></i><b>전화번호</b></span>
                                        <span class="answer switch active"><%= accountInfo.phoneNumber %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="phoneNumber" value="<%= accountInfo.phoneNumber %>"></span>
                                </div>
                                <div class="row element">
                                        <span><i class="fas fa-mobile-alt" aria-hidden="true"></i><b>카카오톡 ID</b></span>
                                        <span class="answer switch active"><%= accountInfo.kakaoID %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="kakaoID" value="<%= accountInfo.kakaoID %>"></span>
                                </div>
                            </div>

                            <div class="row sections photo" id="photo">
                                <p class="basictitle"><b>프로필 사진</b></p>
                                <form id="changePic" action="/user_profile/profilePicUpload_partner" method="post" enctype="multipart/form-data"></form>
                                <form id="defaultPic" action="/user_profile/deletePartnerProfilePic?_method=DELETE" method="post"></form>
                                <div class="buttons photoinfo">
                                    <button class="btn btn-info editbuttons activebutton" id="edit" style="width:90px;">교체하기</a>
                                    <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                    <button class="btn btn-info editbuttons" id="confirm" form="changePic">교체</a>
                                    <button form="defaultPic" class="btn btn-secondary editbuttons">기본 사진 사용하기</button>
                                </div>
                                <div class="divider"></div>
                                <div class="row element" style="margin-left:15px;">

                                      <span class="switch">
                                          <div class="input-group">
                                              <label class="input-group-btn">
                                                  <span class="btn btn-primary switch" style="width:100%!important;padding-left:13%;">
                                                      Browse&hellip; <input form="changePic" type="file" name="profilePic" accept="image/*" style="display:none;" required />
                                                  </span>
                                              </label>
                                              <input type="text" class="form-control" style="max-width:400px!important;" readonly>
                                          </div>
                                      </span>

                                      <span class="switch">
                                        <font size=2>이미지 사이즈는 150x150px로 맞춰주세요. 웃는 얼굴이 잘 나온 사진일수록 업무 요청이 증가합니다!</font>
                                      </span>

                                </div>
                                <!-- <div class="row element">
                                  <span class="switch" style="padding-left:5%;">
                                    <font size=2>이미지 사이즈는 150x150px로 맞춰주세요. 웃는 얼굴이 잘 나온 사진일수록 업무 요청이 증가합니다!</font>
                                  </span>
                                </div> -->
                            </div>


                            <div class="row sections security" id="security">
                                <p class="basictitle"><b>보안 정보</b></p>
                                <form id="privateinfoform" action="/user_profile/security" method="post">
                                </form>
                                <div class="buttons privateinfo">
                                    <button class="btn btn-info editbuttons activebutton" id="edit">비밀번호 변경</a>
                                    <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                    <button class="btn btn-info editbuttons" id="confirm" form="privateinfoform">확인</a>
                                </div>
                                <div class="divider"></div>
                                <div class="row element">
                                        <span class="switch active"><i class="fa fa-lock" aria-hidden="true"></i><b>비밀번호</b></span>
                                        <span class="answer switch active">********</span>
                                        <span class="currentpassword switch"><i class="fa fa-lock" aria-hidden="true"></i><b>현재 비밀번호</b></span>
                                        <span class="switch"><input form="privateinfoform" type="password" class="form-control" name="currentPassword"></span>
                                </div>
                                <div class="row element">
                                        <span class="switch"><i class="fa fa-lock" aria-hidden="true"></i><b>새 비밀번호</b></span>
                                        <span class="switch"><input form="privateinfoform" type="password" class="form-control" name="currentPassword"></span>
                                </div>
                                <div class="row element">
                                        <span class="switch"><i class="fa fa-lock" aria-hidden="true"></i><b>새 비밀번호 확인</b></span>
                                        <span class="switch"><input form="privateinfoform" type="password" class="form-control" name="currentPassword"></span>
                                </div>
                            </div>
                        </div>

                        <div class="todisplay" id="taskrequestinfo">
                          <% if (error.length > 0) { %>
                            <span style="color:red;margin-left:70px;"><%= error %></span>
                          <% } %>
                            <div class="row sections basic" id="basic">
                                <p class="basictitle"><b>예약 정보</b></p>
                                <form id="basicinfoform" action="/user_profile/basicPartnerInfo" method="post"></form>
                                <div class="buttons basicinfo">
                                    <button class="btn btn-info editbuttons activebutton" id="edit">편집</a>
                                    <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                    <button class="btn btn-info editbuttons" id="confirm" form="basicinfoform">확인</a>
                                </div>
                                <div class="divider"></div>

                                <div class="row element">
                                        <span><i class="fa fa-birthday-cake" aria-hidden="true"></i><b>생일</b></span>
                                        <span class="answer switch active"><%= accountInfo.displayBirthday %></span>
                                        <span class="switch"><input type="date" form="basicinfoform" class="form-control" name="birthday" value="<%= accountInfo.birthday %>"></span>

                                </div>
                                <div class="row element">
                                        <span><i class="fa fa-building" aria-hidden="true"></i><b>주소</b></span>
                                        <span class="answer switch active"><%= accountInfo.address.streetAddress %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="streetAddress" value="<%= accountInfo.address.streetAddress %>"></span>
                                </div>
                                <div class="row element">
                                        <span><i class="fa fa-map" aria-hidden="true"></i><b>도시</b></span>
                                        <span class="answer switch active"><%= accountInfo.address.city %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="city" value="<%= accountInfo.address.city %>"></span>
                                </div>
                                <div class="row element">
                                        <span><i class="fa fa-globe" aria-hidden="true"></i><b>나라</b></span>
                                        <span class="answer switch active"><%= accountInfo.address.country %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="country" value="<%= accountInfo.address.country %>"></span>
                                </div>
                                <div class="row element">
                                        <span><i class="fa fa-envelope" aria-hidden="true"></i><b>우편번호</b></span>
                                        <span class="answer switch active"><%= accountInfo.address.postalCode %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="postalCode" value="<%= accountInfo.address.postalCode %>"></span>
                                </div>
                                <div class="row element">
                                        <span><i class="fa fa-phone" aria-hidden="true"></i><b>전화번호</b></span>
                                        <span class="answer switch active"><%= accountInfo.phoneNumber %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="phoneNumber" value="<%= accountInfo.phoneNumber %>"></span>
                                </div>
                            </div>
                        </div>

                        <div class="todisplay" id="scheduleinfo">
                          <% if (error.length > 0) { %>
                            <span style="color:red;margin-left:70px;"><%= error %></span>
                          <% } %>
                            <div class="row sections basic" id="basic">
                                <p class="basictitle"><b>스케쥴 정보</b></p>
                                <form id="basicinfoform" action="/user_profile/basicPartnerInfo" method="post"></form>
                                <div class="buttons basicinfo">
                                    <button class="btn btn-info editbuttons activebutton" id="edit">편집</a>
                                    <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                    <button class="btn btn-info editbuttons" id="confirm" form="basicinfoform">확인</a>
                                </div>
                                <div class="divider"></div>

                                <div class="row element">
                                        <span><i class="fa fa-building" aria-hidden="true"></i><b>주소</b></span>
                                        <span class="answer switch active"><%= accountInfo.address.streetAddress %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="streetAddress" value="<%= accountInfo.address.streetAddress %>"></span>
                                </div>
                            </div>
                        </div>

                        <div class="todisplay" id="messages">
                          <% if (error.length > 0) { %>
                            <span style="color:red;margin-left:70px;"><%= error %></span>
                          <% } %>
                            <div class="row sections basic" id="basic">
                                <p class="basictitle"><b>메세지 정보</b></p>
                                <form id="basicinfoform" action="/user_profile/basicPartnerInfo" method="post"></form>
                                <div class="buttons basicinfo">
                                    <button class="btn btn-info editbuttons activebutton" id="edit">편집</a>
                                    <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                    <button class="btn btn-info editbuttons" id="confirm" form="basicinfoform">확인</a>
                                </div>
                                <div class="divider"></div>

                                <div class="row element">
                                        <span><i class="fa fa-map" aria-hidden="true"></i><b>도시</b></span>
                                        <span class="answer switch active"><%= accountInfo.address.city %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="city" value="<%= accountInfo.address.city %>"></span>
                                </div>
                            </div>
                        </div>

                        <div class="todisplay" id="paymentinfo">
                          <% if (error.length > 0) { %>
                            <span style="color:red;margin-left:70px;"><%= error %></span>
                          <% } %>
                            <div class="row sections basic" id="basic">
                                <p class="basictitle"><b>페이먼트 정보</b></p>
                                <form id="basicinfoform" action="/user_profile/basicPartnerInfo" method="post"></form>
                                <div class="buttons basicinfo">
                                    <button class="btn btn-info editbuttons activebutton" id="edit">편집</a>
                                    <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                    <button class="btn btn-info editbuttons" id="confirm" form="basicinfoform">확인</a>
                                </div>
                                <div class="divider"></div>

                                <div class="row element">
                                        <span><i class="fa fa-globe" aria-hidden="true"></i><b>나라</b></span>
                                        <span class="answer switch active"><%= accountInfo.address.country %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="country" value="<%= accountInfo.address.country %>"></span>
                                </div>
                            </div>
                        </div>


                        <!-- <div class="todisplay privateinfo">
                            <div class="row sections security" id="security">
                                <p class="basictitle"><b>보안 정보</b></p>
                                <form id="privateinfoform" action="/user_profile/security" method="post">
                                </form>
                                <div class="buttons privateinfo">
                                    <button class="btn btn-info editbuttons activebutton" id="edit">비밀번호 변경</a>
                                    <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                    <button class="btn btn-info editbuttons" id="confirm" form="privateinfoform">확인</a>
                                </div>
                                <div class="divider"></div>
                                <div class="row element">
                                        <span class="switch active"><i class="fa fa-lock" aria-hidden="true"></i><b>비밀번호</b></span>
                                        <span class="answer switch active">********</span>
                                        <span class="currentpassword switch"><i class="fa fa-lock" aria-hidden="true"></i><b>현재 비밀번호</b></span>
                                        <span class="switch"><input form="privateinfoform" type="password" class="form-control" name="currentPassword"></span>
                                </div>
                                <div class="row element">
                                        <span class="switch"><i class="fa fa-lock" aria-hidden="true"></i><b>새 비밀번호</b></span>
                                        <span class="switch"><input form="privateinfoform" type="password" class="form-control" name="currentPassword"></span>
                                </div>
                                <div class="row element">
                                        <span class="switch"><i class="fa fa-lock" aria-hidden="true"></i><b>새 비밀번호 확인</b></span>
                                        <span class="switch"><input form="privateinfoform" type="password" class="form-control" name="currentPassword"></span>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>


    <script>
    $(document).ready(() => {
        var editbuttons = document.querySelectorAll("#edit");
        var confirmbuttons = document.querySelectorAll("#confirm");
        var cancelbuttons = document.querySelectorAll("#cancel");

        editbuttons.forEach((editbutton) => {
                $(editbutton).click((e) => {
                    // e.preventDefault();

                    var parentDivision = editbutton.parentElement;
                    var parentDivisionClass = parentDivision.className.split(" ");
                    var allButtons = parentDivision.querySelectorAll("button");
                    allButtons.forEach((button) => {
                        $(button).toggleClass("activebutton");
                    });

                    if(parentDivisionClass[1] === "basicinfo") {
                        var spans = document.getElementById("basic").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    } else if(parentDivisionClass[1] === "languageinfo") {
                        $(".language").toggleClass("disable");

                        var langinfo = {
                            langchoice: '<%= langinfo.langchoice %>'.split(","),
                            langproficiency: '<%= langinfo.langproficiency %>'.split(",")
                        }

                        for(var i = 0; i < langinfo.langchoice.length; i++) {
                            $(".lang").append(manipulateAdd);
                            var langselect = $(".langselect");
                            var proficiency = $(".proficiency");

                            // for(var j = 0; j < langselect.length; j++)
                            // console.log(langselect.length);
                            for(var j = 0; j < langselect.length; j++) {
                                if(langselect[j].value === "") {
                                    langselect[j].value = langinfo.langchoice[i]
                                }
                            }
                            for(var j = 0; j < proficiency.length; j++) {
                                if(proficiency[j].value === "") {
                                    proficiency[j].value = langinfo.langproficiency[i]
                                }
                            }
                        }


                        var addbutton = $(".lang").find(".addbutton");
                        $(addbutton).toggleClass("addactive");

                        $(addbutton).off().click((e) => {
                            $(".lang").append(manipulateAdd());
                        });
                    } else if(parentDivisionClass[1] === "photoinfo") {
                        var spans = document.getElementById("photo").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    } else if(parentDivisionClass[1] === "privateinfo") {
                        var spans = document.getElementById("security").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    }
                });
            });
    });
    </script>

    <script>
        // Script for file input (profile picture in this case) button and displaying the file name
        $(function() {
            // We can attach the `fileselect` event to all file inputs on the page
            $(document).on('change', ':file', function() {
                var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            // We can watch for our custom `fileselect` event like this
            $(document).ready( function() {
                $(':file').on('fileselect', function(event, numFiles, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                      log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if( input.length ) {
                      input.val(log);
                    } else {
                      if( log ) alert(log);
                    }
                });
            });
        });
    </script>

    <script src="/static/scripts/profileedit.js"></script>

    <% include ./partials/footer %>

    </body>
</html>
