<html>
    <head>
        <meta charset="utf-8">
        <title>Member - 트렉스</title>
        <style>
            .btn-primary:hover {
                cursor: pointer;
                background-color: #00b3db !important;
                border-color: #00b3db !important;
            }
          #avatar{
              border-radius: 50%;
              width: 45px;
              height: 45px;
              background-size: cover;
              margin: 0;
               position: absolute;
               top: 50%;
               -ms-transform: translateY(-50%);
               transform: translate3d(-50%,-50%,0);
      
          }
          .leftside, .rightside{
              width: 100%;
              /* border: 1px solid rgba(0, 0, 0, 0.5); */
              margin-bottom: 10px;
              z-index: 2;
      
          }
          #left{
            max-width: 25%;
          }
          #left, #right{
            height: 80px;
            padding: 10px;
          }
          #sliders a{
              text-decoration: none;
              color:black;
          }
          #wrapper{
            width: 50%;
            height: 550px;
            overflow-y:scroll;
            overflow-x: hidden;
            float:left;
            position: relative;
            margin:0;
            padding-left: 2.5%;
            padding-right: 2.5%;
      
          }
          #wrapper .row{
            border: 1px solid rgba(0, 0, 0, 0.3);
            width: 500px;
          }
          #wrapper h4{
            font-size: 20px;
      
          }
      
        </style>
        <% include ./partials/header %>

    </head>
    <body>

        <% include ./partials/proficiencychart %>

        <% include ./partials/navbar %>
        
        <link rel="stylesheet" href="/static/stylesheets/profile.css">

        <div class="profile">
            <div class="tab">
                <div class="row top">
                    <div class="col-md-4 col-12">
                        <p class="setting">클라이언트 계정 관리</p>
                        <% if (error_account.length > 0) { %>
                            <div class="menu" style="width:250%;">
                                <a class="partnerProfileInfo" href="#">프로필 관리</a>
                                <a class="messages" href="#">메세지</a>
                                <a class="accountInfoManage active" href="#">계정관리</a>
                            </div>
                        <% } else if (error_messages.length > 0) { %>
                            <div class="menu" style="width:250%;">
                                <a class="partnerProfileInfo" href="#">프로필 관리</a>
                                <a class="messages active" href="#">메세지</a>
                                <a class="accountInfoManage" href="#">계정관리</a>
                            </div>
                        <% } else { %>
                            <div class="menu" style="width:250%;">
                                <a class="partnerProfileInfo active" href="#">프로필 관리</a>
                                <!-- <a class="taskRequestInfo" href="#">업무 예약 관리</a>
                                <a class="scheduleInfo" href="#">일정 관리</a> -->
                                <a class="messages" href="#">메세지</a>
                                <!-- <a class="paymentInfo" href="#">정산 계좌 등록</a> -->
                                <a class="accountInfoManage" href="#">계정관리</a>
                                <!-- <a class="privateinfo" href="#">보안</a> -->
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="row bottom">
                    <div class="col-md-4 col-12">
                        <% if (currentUser.companyLogo) { %>
                          <img class="profileimg" src="/logo/<%= currentUser.companyLogo %>">
                        <% } else { %>
                          <img class="profileimg" src="/static/images/noprofilepic.jpeg">
                        <% } %>
                        <p class="userName"><%= currentUser.name %></p>
                    </div>
                    
                    <div class="col-md-8">
                        <!-- 프로필 관리 -->
                        <% if (error_account.length > 0) { %>
                            <div class="todisplay partnerProfileInfo">
                        <% } else { %>
                            <div class="todisplay partnerProfileInfo profileactive">
                        <% } %>
                        
                            <% if (error_profile.length > 0) { %>
                              <span style="color:red;margin-left:70px;"><%= error_profile %></span>
                            <% } %>
                            
                            
                            <form action="/start_message" method="post">
                                To: <input type="text" name="send_to"><br>
                                Content: <textarea class="form-control" name="content" rows="5"></textarea><br>
                                <button class="btn btn-info">메세지 만들어 보내기</button>
                            </form>
                            
                            
                            <!-- <% for (var i = 0; i < messages.length; i++) { %>
                                <hr>
                                    <% if (messages[i].partnerPic) { %>
                                      <img class="profileimg" src="/profilePic/<%= messages[i].partnerPic %>">
                                    <% } else { %>
                                      <img class="profileimg" src="/static/images/noprofilepic.jpeg">
                                    <% } %>
                                    <p class="userName"><%= messages[i].partnerName %></p>
                                    <hr>
                                        <% for (var j = 0; j < messages[i].detail.length; j++) { %>
                                            <% if (messages[i].detail[j].author === "c") { %>
                                                <div class="text-right">
                                                    <strong><%= messages[i].clientName %></strong> : "<%= messages[i].detail[j].content %>"
                                                </div>
                                            <% } %>
                                            <% if (messages[i].detail[j].author === "p") { %>
                                                <div class="text-left">
                                                    <strong><%= messages[i].partnerName %></strong> : <%= messages[i].detail[j].content %>
                                                </div>
                                            <% } %>
                                        <% } %>
                                        <form action="/send_message_client" method="post" style="margin:0 auto;margin-top:50px;width:70%;">
                                            <input type="hidden" id="message" name="message" value="<%= messages[i].id %>">
                                            <input type="hidden" id="author" name="author" value="<%= currentUser.email %>">
                                            <div class="form-group">
                                              <textarea class="form-control" name="content" placeholder="Comment..."></textarea>
                                            </div>
                                            <input type="submit" value="Submit" class="btn btn-primary btn-block">
                                        </form>
                                <hr>
                            <%  } %> -->
                            
                            <!-- ///////////////////////////////////////////////// -->
                            
                            <div class="wrapper" id="wrapper" style="width: 100%; height: 550px; overflow-y:scroll;
                              overflow-x: hidden; float:left; position: relative; margin:0;
                              padding-left: 2.5%; padding-right: 2.5%;">
                                <div id="sliders">
                                    <% for (var i = 0; i < messages.length; i++) { %>
                                            <a href="/message_room/<%=messages[i].id%>">
                                                <div class="row" id="formore" style="margin-bottom: 10px; margin-top: 50px; cursor: pointer;">
                                                    <div class="col" id="left">
                                                        <div class="leftside">
                                                            <center>
                                                                <% if (messages[i].partnerPic) { %>
                                                                  <img id="avatar" src="/profilePic/<%= messages[i].partnerPic %>">
                                                                <% } else { %>
                                                                  <img id="avatar" src="/static/images/noprofilepic.jpeg">
                                                                <% } %>
                                                            </center>
                                                        </div>
                                                    </div>
                                                    <div class="col" id="right">
                                                        <div class="rightside">
                                                            <div class="text-left">
                                                                <h4><%= messages[i].partnerName %></h4>
                                                            </div>
                                                            <div class="text-left">
                                                                <span class="body-trex">
                                                                    <%= messages[i].detail[[messages[i].detail.length-1]].content %><br>
                                                                    <font size=1><%= messages[i].detail[[messages[i].detail.length-1]].time %></font>
                                                                    <span style="font-size: 35px; float: right; transform: translate3d(0, -50% ,0)">
                                                                        <i class="fas fa-angle-right"></i>
                                                                    </span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                    <%  } %>
                                </div>
                            </div>
                            
                            <!-- ///////////////////////////////////////////////// -->
                            
                        </div>
                        
                        
                        
                        <!-- 메세지 -->
                        <% if (error_messages.length > 0) { %>
                            <div class="todisplay messages profileactive">
                        <% } else { %>
                            <div class="todisplay messages">
                        <% } %>
                        
                            <% if (error_messages.length > 0) { %>
                              <span style="color:red;margin-left:70px;"><%= error_messages %></span>
                            <% } %>
                            
                            
                            
                        </div>
                        
                        
                        
                      
                      
                        <!-- 계정 관리 -->
                        <% if (error_account.length > 0) { %>
                            <div class="todisplay accountInfoManage profileactive">
                        <% } else { %>
                            <div class="todisplay accountInfoManage">
                        <% }%>
                        
                          <% if (error_account.length > 0) { %>
                            <span style="color:red;margin-left:70px;"><%= error_account %></span>
                          <% } %>
                            <div class="row sections basic" id="basic">
                                <p class="basictitle"><b>기본 정보</b></p>
                                <form id="basicinfoform" action="/user_profile/basicClientInfo" method="post"></form>
                                <div class="buttons basicinfo">
                                    <button class="btn btn-info editbuttons activebutton" id="edit">편집</a>
                                    <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                    <button class="btn btn-info editbuttons" id="confirm" form="basicinfoform">확인</a>
                                </div>
                                <div class="divider"></div>

                                <div class="row element">
                                        <span><i class="fa fa-birthday-cake" aria-hidden="true"></i><b>생일</b></span>
                                        <span class="answer switch active"><%= accountInfo.displayBirthday %></span>
                                        <span class="switch"><input type="date" form="basicinfoform" class="form-control" name="birthday" value="<%= accountInfo.birthday %>"></span>

                                </div>
                                <div class="row element">
                                        <span><i class="fas fa-table" aria-hidden="true"></i><b>업종</b></span>
                                        <span class="answer switch active"><%= accountInfo.category %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="category" value="<%= accountInfo.category %>"></span>
                                </div>
                                <div class="row element">
                                        <!-- <i class="far fa-id-card"></i> -->
                                        <span><i class="fas fa-id-badge" aria-hidden="true"></i><b>담당자 성함 및 직급</b></span>
                                        <span class="answer switch active"><%= accountInfo.managerNamePosition %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="managerNamePosition" placeholder="성함, 직급" value="<%= accountInfo.managerNamePosition %>"></span>
                                </div>
                                <div class="row element">
                                        <span><i class="fa fa-phone" aria-hidden="true"></i><b>담당자 전화번호</b></span>
                                        <span class="answer switch active"><%= accountInfo.managerPhoneNumber %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="managerPhoneNumber" value="<%= accountInfo.managerPhoneNumber %>"></span>
                                </div>
                                <div class="row element">
                                        <span><i class="far fa-window-maximize" aria-hidden="true"></i><b>회사 웹사이트</b></span>
                                        <span class="answer switch active"><%= accountInfo.companyWebsite %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="companyWebsite" value="<%= accountInfo.companyWebsite %>"></span>
                                </div>
                                <div class="row element">
                                        <span><i class="fas fa-share-alt-square" aria-hidden="true"></i><b>회사 SNS</b></span>
                                        <span class="answer switch active"><%= accountInfo.companySNS %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="companySNS" value="<%= accountInfo.companySNS %>"></span>
                                </div>
                                <div class="row element">
                                        <span><i class="fas fa-briefcase" aria-hidden="true"></i><b>회사 소개</b></span>
                                        <span class="answer switch active"><%= accountInfo.companyDescription %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="companyDescription" value="<%= accountInfo.companyDescription %>"></span>
                                </div>
                                <div class="row element">
                                        <span><i class="fas fa-mobile-alt" aria-hidden="true"></i><b>카카오톡 ID</b></span>
                                        <span class="answer switch active"><%= accountInfo.kakaoID %></span>
                                        <span class="switch"><input form="basicinfoform" class="form-control" name="kakaoID" value="<%= accountInfo.kakaoID %>"></span>
                                </div>
                            </div>

                            <div class="row sections photo" id="photo">
                                <p class="basictitle"><b>회사 로고</b></p>
                                <form id="changePic" action="/user_profile/companyLogoUpload" method="post" enctype="multipart/form-data"></form>
                                <form id="defaultPic" action="/user_profile/deleteCompanyLogo?_method=DELETE" method="post"></form>
                                <div class="buttons photoinfo">
                                    <button class="btn btn-info editbuttons activebutton" id="edit" style="width:90px;">교체하기</a>
                                    <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                    <button class="btn btn-info editbuttons" id="confirm" form="changePic">교체</a>
                                    <button form="defaultPic" class="btn btn-secondary editbuttons">기본 사진 사용하기</button>
                                </div>
                                <div class="divider"></div>
                                <div class="row element" style="margin-left:15px;">
                                    
                                      <span class="switch">
                                          <div class="input-group">
                                              <label class="input-group-btn">
                                                  <span class="btn btn-primary switch" style="width:100%!important;padding-left:13%;">
                                                      Browse&hellip; <input form="changePic" type="file" name="companyLogo" accept="image/*" style="display:none;" required />
                                                  </span>
                                              </label>
                                              <input type="text" class="form-control" style="max-width:400px!important;" readonly>
                                          </div>
                                      </span>
                                      
                                      <span class="switch">
                                        <font size=2>로고 사이즈는 150x150px로 맞춰주세요.</font>
                                      </span>
                                      
                                </div>
                            </div>
                            
                            
                            <div class="row sections security" id="security">
                                <p class="basictitle"><b>보안 정보</b></p>
                                <form id="privateinfoform" action="/user_profile/security" method="post">
                                </form>
                                <div class="buttons privateinfo">
                                    <button class="btn btn-info editbuttons activebutton" id="edit">비밀번호 변경</a>
                                    <button class="btn btn-info editbuttons" id="cancel">취소</a>
                                    <button class="btn btn-info editbuttons" id="confirm" form="privateinfoform">확인</a>
                                </div>
                                <div class="divider"></div>
                                <div class="row element">
                                        <span class="switch active"><i class="fa fa-lock" aria-hidden="true"></i><b>비밀번호</b></span>
                                        <span class="answer switch active">********</span>
                                        <span class="currentpassword switch"><i class="fa fa-lock" aria-hidden="true"></i><b>현재 비밀번호</b></span>
                                        <span class="switch"><input form="privateinfoform" type="password" class="form-control" name="currentPassword"></span>
                                </div>
                                <div class="row element">
                                        <span class="switch"><i class="fa fa-lock" aria-hidden="true"></i><b>새 비밀번호</b></span>
                                        <span class="switch"><input form="privateinfoform" type="password" class="form-control" name="currentPassword"></span>
                                </div>
                                <div class="row element">
                                        <span class="switch"><i class="fa fa-lock" aria-hidden="true"></i><b>새 비밀번호 확인</b></span>
                                        <span class="switch"><input form="privateinfoform" type="password" class="form-control" name="currentPassword"></span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    <script>
        $(document).ready(() => {
            $(".menu").click((e) => {
                e.preventDefault();


                if($(e.target).hasClass("partnerProfileInfo") && !$(e.target).hasClass("active")) {
                    var menu = document.querySelector(".menu");
                    var currentActive = menu.querySelector(".active");
                    $(currentActive).toggleClass("active");
                    $(e.target).toggleClass("active");

                    $(".partnerProfileInfo").toggleClass("profileactive");
                    // $(".taskRequestInfo").toggleClass("profileactive");
                    // $(".scheduleInfo").toggleClass("profileactive");
                    $(".messages").toggleClass("profileactive");
                    // $(".paymentInfo").toggleClass("profileactive");
                    $(".accountInfoManage").toggleClass("profileactive");
                    // $(".privateinfo").toggleClass("profileactive");
                }
                // else if($(e.target).hasClass("taskRequestInfo") && !$(e.target).hasClass("active")) {
                //     var menu = document.querySelector(".menu");
                //     var currentActive = menu.querySelector(".active");
                //     $(currentActive).toggleClass("active");
                //     $(e.target).toggleClass("active");
                // 
                //     $(".partnerProfileInfo").toggleClass("profileactive");
                //     $(".taskRequestInfo").toggleClass("profileactive");
                //     $(".scheduleInfo").toggleClass("profileactive");
                //     $(".messages").toggleClass("profileactive");
                //     $(".paymentInfo").toggleClass("profileactive");
                //     $(".accountInfoManage").toggleClass("profileactive");
                //     // $(".privateinfo").toggleClass("profileactive");
                // }
                // else if($(e.target).hasClass("scheduleInfo") && !$(e.target).hasClass("active")) {
                //     var menu = document.querySelector(".menu");
                //     var currentActive = menu.querySelector(".active");
                //     $(currentActive).toggleClass("active");
                //     $(e.target).toggleClass("active");
                // 
                //     $(".partnerProfileInfo").toggleClass("profileactive");
                //     $(".taskRequestInfo").toggleClass("profileactive");
                //     $(".scheduleInfo").toggleClass("profileactive");
                //     $(".messages").toggleClass("profileactive");
                //     $(".paymentInfo").toggleClass("profileactive");
                //     $(".accountInfoManage").toggleClass("profileactive");
                //     // $(".privateinfo").toggleClass("profileactive");
                // }
                else if($(e.target).hasClass("messages") && !$(e.target).hasClass("active")) {
                    var menu = document.querySelector(".menu");
                    var currentActive = menu.querySelector(".active");
                    $(currentActive).toggleClass("active");
                    $(e.target).toggleClass("active");
                
                    $(".partnerProfileInfo").toggleClass("profileactive");
                    // $(".taskRequestInfo").toggleClass("profileactive");
                    // $(".scheduleInfo").toggleClass("profileactive");
                    $(".messages").toggleClass("profileactive");
                    // $(".paymentInfo").toggleClass("profileactive");
                    $(".accountInfoManage").toggleClass("profileactive");
                    // $(".privateinfo").toggleClass("profileactive");
                }
                // else if($(e.target).hasClass("paymentInfo") && !$(e.target).hasClass("active")) {
                //     var menu = document.querySelector(".menu");
                //     var currentActive = menu.querySelector(".active");
                //     $(currentActive).toggleClass("active");
                //     $(e.target).toggleClass("active");
                // 
                //     $(".partnerProfileInfo").toggleClass("profileactive");
                //     $(".taskRequestInfo").toggleClass("profileactive");
                //     $(".scheduleInfo").toggleClass("profileactive");
                //     $(".messages").toggleClass("profileactive");
                //     $(".paymentInfo").toggleClass("profileactive");
                //     $(".accountInfoManage").toggleClass("profileactive");
                //     // $(".privateinfo").toggleClass("profileactive");
                // }
                else if($(e.target).hasClass("accountInfoManage") && !$(e.target).hasClass("active")) {
                    var menu = document.querySelector(".menu");
                    var currentActive = menu.querySelector(".active");
                    $(currentActive).toggleClass("active");
                    $(e.target).toggleClass("active");

                    $(".partnerProfileInfo").toggleClass("profileactive");
                    // $(".taskRequestInfo").toggleClass("profileactive");
                    // $(".scheduleInfo").toggleClass("profileactive");
                    $(".messages").toggleClass("profileactive");
                    // $(".paymentInfo").toggleClass("profileactive");
                    $(".accountInfoManage").toggleClass("profileactive");
                    // $(".privateinfo").toggleClass("profileactive");
                }
                // else if($(e.target).hasClass("privateinfo") && !$(e.target).hasClass("active")){
                //     var menu = document.querySelector(".menu");
                //     var currentActive = menu.querySelector(".active");
                //     $(currentActive).toggleClass("active");
                //     $(e.target).toggleClass("active");
                // 
                //     $(".accountInfo").toggleClass("profileactive");
                //     $(".privateinfo").toggleClass("profileactive");
                // }
            });
        });
    </script>
    <script>
    $(document).ready(() => {
        var editbuttons = document.querySelectorAll("#edit");
        var confirmbuttons = document.querySelectorAll("#confirm");
        var cancelbuttons = document.querySelectorAll("#cancel");

        editbuttons.forEach((editbutton) => {
                $(editbutton).click((e) => {
                    // e.preventDefault();

                    var parentDivision = editbutton.parentElement;
                    var parentDivisionClass = parentDivision.className.split(" ");
                    var allButtons = parentDivision.querySelectorAll("button");
                    allButtons.forEach((button) => {
                        $(button).toggleClass("activebutton");
                    });

                    if(parentDivisionClass[1] === "basicinfo") {
                        var spans = document.getElementById("basic").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    }  else if(parentDivisionClass[1] === "photoinfo") {
                        var spans = document.getElementById("photo").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    } else if(parentDivisionClass[1] === "privateinfo") {
                        var spans = document.getElementById("security").querySelectorAll(".switch");
                        spans.forEach((span) => {
                            $(span).toggleClass("active");
                        });
                    }
                });
            });
    });
    </script>
    
    <script>
        // Script for file input (profile picture in this case) button and displaying the file name
        $(function() {
            // We can attach the `fileselect` event to all file inputs on the page
            $(document).on('change', ':file', function() {
                var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [numFiles, label]);
            });

            // We can watch for our custom `fileselect` event like this
            $(document).ready( function() {
                $(':file').on('fileselect', function(event, numFiles, label) {

                    var input = $(this).parents('.input-group').find(':text'),
                      log = numFiles > 1 ? numFiles + ' files selected' : label;

                    if( input.length ) {
                      input.val(log);
                    } else {
                      if( log ) alert(log);
                    }
                });
            });
        });
    </script>
    
    <script src="/static/scripts/profileedit.js"></script>

    <% include ./partials/footer %>

    </body>
</html>
